flows_SERVER.json
[{"id":"b01a2cb9.9baef","type":"tab","label":"VvdkStatus","disabled":false,"info":""},{"id":"1f8a59d.c5c0ca6","type":"tab","label":"Temperature","disabled":false,"info":""},{"id":"f8c3d2e.ff7853","type":"tab","label":"Logging","disabled":false,"info":""},{"id":"aaabbee3.5276e","type":"tab","label":"Weight","disabled":false,"info":""},{"id":"c13cf3fe.71f31","type":"tab","label":"Alarm","disabled":false,"info":""},{"id":"aa9f90ed.25077","type":"tab","label":"Badkamer WC Slaapkamer","disabled":false,"info":""},{"id":"922b9d9f.0323","type":"tab","label":"Keuken - Kamer - Terras","disabled":false,"info":""},{"id":"3aed527a.e169fe","type":"tab","label":"Weather","disabled":false,"info":""},{"id":"88d7a865.0b5458","type":"tab","label":"Magic cube","disabled":false,"info":""},{"id":"f4f34383.c51b7","type":"tab","label":"Test","disabled":false,"info":""},{"id":"c2f6d390.7e323","type":"tab","label":"Car","disabled":false,"info":""},{"id":"78477e05.07c09","type":"subflow","name":"Parse Parts","info":"","in":[{"x":100,"y":140,"wires":[{"id":"2bae136a.4ae26c"}]}],"out":[{"x":400,"y":140,"wires":[{"id":"2bae136a.4ae26c","port":0}]}]},{"id":"1f30ecc.3cf9813","type":"subflow","name":"RFSetColor","info":"","in":[{"x":140,"y":360,"wires":[]}],"out":[{"x":720,"y":360,"wires":[]}]},{"id":"a8c1ffd8.16e1","type":"subflow","name":"RfLink","info":"","in":[{"x":180,"y":280,"wires":[]}],"out":[{"x":1160,"y":380,"wires":[]}]},{"id":"cc35ed80.8e43c","type":"subflow","name":"RF ON","info":"","in":[{"x":140,"y":320,"wires":[]}],"out":[{"x":400,"y":320,"wires":[]}]},{"id":"f8f656ed.e6b658","type":"subflow","name":"Uppercase","info":"","in":[{"x":50,"y":30,"wires":[]}],"out":[{"x":360,"y":100,"wires":[]}]},{"id":"68815de1.ca2394","type":"subflow","name":"true/false","info":"","in":[{"x":160,"y":220,"wires":[]}],"out":[{"x":900,"y":340,"wires":[]},{"x":900,"y":460,"wires":[]}]},{"id":"acc34840.af99d8","type":"subflow","name":"Inverse","info":"","in":[{"x":50,"y":30,"wires":[{"id":"3ad5bc7c.222344"}]}],"out":[{"x":680,"y":220,"wires":[{"id":"4047021b.5c8dac","port":0},{"id":"e282c203.9f886","port":0},{"id":"dc0500f1.e0c65","port":0},{"id":"11f5ef76.47aac1","port":0},{"id":"9dc653a4.ae4e2","port":0},{"id":"743c7826.444bb8","port":0},{"id":"f224f4f.15a9e08","port":0},{"id":"765e1859.8dd7c8","port":0},{"id":"b571e1ee.e4fbc","port":0},{"id":"155172dd.afa01d","port":0}]}]},{"id":"8a844107.6e076","type":"subflow","name":"On/Off","info":"","in":[{"x":260,"y":360,"wires":[{"id":"cba6ebde.e30c88"}]}],"out":[{"x":700,"y":280,"wires":[{"id":"cba6ebde.e30c88","port":0},{"id":"a93b3c4.0f638c","port":0},{"id":"a93b3c4.0f638c","port":1},{"id":"a93b3c4.0f638c","port":2},{"id":"a93b3c4.0f638c","port":3},{"id":"a93b3c4.0f638c","port":4}]},{"x":720,"y":460,"wires":[{"id":"cba6ebde.e30c88","port":1},{"id":"a93b3c4.0f638c","port":5},{"id":"a93b3c4.0f638c","port":6},{"id":"a93b3c4.0f638c","port":7},{"id":"a93b3c4.0f638c","port":8},{"id":"a93b3c4.0f638c","port":9}]}],"outputLabels":["On","Off"]},{"id":"35694a1c.27fc86","type":"subflow","name":"If Daylight","info":"","category":"","in":[{"x":60,"y":180,"wires":[{"id":"61c53188.53161"},{"id":"c005a6ac.f6ebc8"}]}],"out":[{"x":340,"y":140,"wires":[{"id":"61c53188.53161","port":0}]},{"x":340,"y":240,"wires":[{"id":"c005a6ac.f6ebc8","port":0}]}],"outputLabels":["Day","Night"],"icon":"node-red-node-suncalc/sun.png"},{"id":"405d007b.0887d","type":"subflow","name":"If At Home","info":"","in":[{"x":114.0000057220459,"y":300.99996757507324,"wires":[{"id":"a6246d5f.f8379"}]}],"out":[{"x":470.00000190734863,"y":264.9999647140503,"wires":[{"id":"a6246d5f.f8379","port":0}]},{"x":475.00000190734863,"y":329.9999656677246,"wires":[{"id":"a6246d5f.f8379","port":1}]}],"outputLabels":["At Home","Not At Home"]},{"id":"c255db5.4d13a28","type":"subflow","name":"Ios Notification Actions","info":"","category":"Notify","in":[],"out":[{"x":738.0000267028809,"y":37.99999809265137,"wires":[{"id":"116f7c56.d9d764","port":0}]},{"x":743.0000267028809,"y":105.99999618530273,"wires":[{"id":"116f7c56.d9d764","port":1}]},{"x":744.0000076293945,"y":180.00000762939453,"wires":[{"id":"116f7c56.d9d764","port":2}]}],"outputLabels":["Cancel temperature","Sound alarm","Cancel alarm"],"icon":"node-red/bridge-dash.png"},{"id":"e247e4d8.86ae58","type":"subflow","name":"Google Say","info":"","category":"Notify","in":[{"x":126.00000381469727,"y":118.00000190734863,"wires":[{"id":"840b2e35.feaa4"}]}],"out":[]},{"id":"bfd62bd3.8ae858","type":"subflow","name":"Notification","info":"Topic:\n    Topic of the message\nPayload:\n    Message\nAction: (Optional)\n    Category for choices","category":"Notify","in":[{"x":50,"y":30,"wires":[{"id":"5a57c15.62b224"}]}],"out":[{"x":160,"y":30,"wires":[{"id":"bfd62bd3.8ae858","port":0}]}],"env":[{"name":"message","type":"str","value":""},{"name":"topic","type":"str","value":""},{"name":"action","type":"str","value":""}],"color":"#DDAA99"},{"id":"fd7dbe32.1f2d2","type":"subflow","name":"Log","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"38f4a345.28b87c"}]}],"out":[]},{"id":"76eac5e0.de774c","type":"MySQLdatabase","z":"","host":"192.168.1.100","port":"3306","db":"node-red","tz":""},{"id":"a0b35919.2f8bf8","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"679157cf.e2a458","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.100","port":"1883","clientid":"node-red","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7906960.7effd6c","type":"mqtt in","z":"f8c3d2e.ff7853","name":"","topic":"+/+/+/value/#","qos":"2","datatype":"auto","broker":"679157cf.e2a458","x":110,"y":1960,"wires":[["3c9c56c6.e27d4a","c0e338b3.3817b8"]]},{"id":"3c9c56c6.e27d4a","type":"debug","z":"f8c3d2e.ff7853","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":838.9999961853027,"y":1934.9999694824219,"wires":[]},{"id":"59615a3c.b2e714","type":"mysql","z":"f8c3d2e.ff7853","mydb":"76eac5e0.de774c","name":"TimeSeries","x":1270,"y":240,"wires":[["26eb4d03.fc3132"]]},{"id":"17991179.5dce5f","type":"template","z":"f8c3d2e.ff7853","name":"Insert measurement","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO measurements (location,`name`,devicetype,messagetype,`system`,extra,value) VALUES (\"{{location}}\",\"{{name}}\",\"{{devicetype}}\",\"{{messagetype}}\",\"{{system}}\",\"{{extra}}\",{{value}});","output":"str","x":1160,"y":320,"wires":[["59615a3c.b2e714","2d0f8985.2a8d36"]]},{"id":"7b8f11ab.b8a3d","type":"change","z":"f8c3d2e.ff7853","name":"Set Temperature","rules":[{"t":"set","p":"location","pt":"msg","to":"huiskamer","tot":"str"},{"t":"set","p":"name","pt":"msg","to":"basestation","tot":"str"},{"t":"set","p":"devicetype","pt":"msg","to":"temperature","tot":"str"},{"t":"set","p":"messagetype","pt":"msg","to":"measurement","tot":"str"},{"t":"set","p":"system","pt":"msg","to":"netatmo","tot":"str"},{"t":"set","p":"value","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"null","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":80,"wires":[["38d26b7.a551a94"]]},{"id":"2d0f8985.2a8d36","type":"debug","z":"f8c3d2e.ff7853","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1470,"y":320,"wires":[]},{"id":"f3b67a92.acb3c8","type":"change","z":"f8c3d2e.ff7853","name":"Set CO2","rules":[{"t":"set","p":"location","pt":"msg","to":"huiskamer","tot":"str"},{"t":"set","p":"name","pt":"msg","to":"basestation","tot":"str"},{"t":"set","p":"devicetype","pt":"msg","to":"CO2","tot":"str"},{"t":"set","p":"messagetype","pt":"msg","to":"measurement","tot":"str"},{"t":"set","p":"system","pt":"msg","to":"netatmo","tot":"str"},{"t":"set","p":"value","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"null","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":140,"wires":[["38d26b7.a551a94"]]},{"id":"cd54c06.6a6a14","type":"change","z":"f8c3d2e.ff7853","name":"Set Humidity","rules":[{"t":"set","p":"location","pt":"msg","to":"huiskamer","tot":"str"},{"t":"set","p":"name","pt":"msg","to":"basestation","tot":"str"},{"t":"set","p":"devicetype","pt":"msg","to":"humidity","tot":"str"},{"t":"set","p":"messagetype","pt":"msg","to":"measurement","tot":"str"},{"t":"set","p":"system","pt":"msg","to":"netatmo","tot":"str"},{"t":"set","p":"value","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"null","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":200,"wires":[["38d26b7.a551a94"]]},{"id":"6a19663c.d8f6b8","type":"change","z":"f8c3d2e.ff7853","name":"Set Pressure","rules":[{"t":"set","p":"location","pt":"msg","to":"huiskamer","tot":"str"},{"t":"set","p":"name","pt":"msg","to":"basestation","tot":"str"},{"t":"set","p":"devicetype","pt":"msg","to":"pressure","tot":"str"},{"t":"set","p":"messagetype","pt":"msg","to":"measurement","tot":"str"},{"t":"set","p":"system","pt":"msg","to":"netatmo","tot":"str"},{"t":"set","p":"value","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"null","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":260,"wires":[["38d26b7.a551a94"]]},{"id":"2bae136a.4ae26c","type":"function","z":"78477e05.07c09","name":"parseParts","func":"var parts = msg.topic.split('/');\n//node.warn(parts);\nif(parts.length>0)\n    msg.location = parts[0];\n\nif(parts.length>1)\n    msg.name = parts[1];\n\nif(parts.length>2)\n    msg.devicetype = parts[2];\n\nif(parts.length>3)\n    msg.messagetype = parts[3];\n\nif(parts.length>4)\n    msg.system = parts[4];\n\nif(parts.length>5)\n    msg.extra = parts[5];\n\nif(msg.payload!==null)\n    msg.value = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":140,"wires":[[]]},{"id":"27df7afb.f56b76","type":"change","z":"1f8a59d.c5c0ca6","name":"set 15","rules":[{"t":"set","p":"payload","pt":"msg","to":"15","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":598.0000228881836,"y":113.99999523162842,"wires":[["8767d53e.2a1338"]]},{"id":"c742af14.e7f52","type":"change","z":"1f8a59d.c5c0ca6","name":"set 22","rules":[{"t":"set","p":"payload","pt":"msg","to":"22","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":789.9999771118164,"y":267.9999694824219,"wires":[["8767d53e.2a1338"]]},{"id":"d146885c.8d91e8","type":"bigtimer","z":"1f8a59d.c5c0ca6","outtopic":"shutdown","outpayload1":"on","outpayload2":"","name":"Daily shutdown 22:30","lat":"51.999711","lon":"4.200049","starttime":"1350","endtime":"1365","startoff":0,"endoff":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":200,"y":140,"wires":[["27df7afb.f56b76"],[],[]]},{"id":"b9884042.5ff2c","type":"comment","z":"b01a2cb9.9baef","name":"Manage Bed status","info":"","x":130,"y":720,"wires":[]},{"id":"d0c13b1c.664078","type":"debug","z":"3aed527a.e169fe","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":990,"y":100,"wires":[]},{"id":"2838fe5e.9f9ed2","type":"change","z":"1f30ecc.3cf9813","name":"set color command","rules":[{"p":"command","t":"set","to":"COLOR","tot":"str","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":360,"wires":[[]]},{"id":"f675494c.3ac288","type":"debug","z":"3aed527a.e169fe","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1190,"y":100,"wires":[]},{"id":"93460a39.3feb98","type":"template","z":"a8c1ffd8.16e1","name":"format color command","field":"url","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"192.168.1.99/iotserver/api/RFLink/command?id={{id}}&command={{command}}&color={{color}}&brightness={{brightness}}","output":"str","x":740,"y":440,"wires":[[]]},{"id":"e282c203.9f886","type":"change","z":"acc34840.af99d8","name":"false","rules":[{"p":"payload","t":"set","to":"false","tot":"str","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":120,"wires":[[]]},{"id":"155172dd.afa01d","type":"change","z":"acc34840.af99d8","name":"1","rules":[{"p":"payload","t":"set","to":"1","tot":"str","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":520,"wires":[[]]},{"id":"1b398784.d69528","type":"change","z":"3aed527a.e169fe","name":"topic Weather warning","rules":[{"p":"topic","t":"set","to":"Weather warning","tot":"str","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":200,"wires":[[]]},{"id":"fe689f2b.a3883","type":"template","z":"a8c1ffd8.16e1","name":"format color command","field":"url","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"192.168.1.100:5003/api/RFLink/command?id={{id}}&command={{command}}&color={{color}}&brightness={{brightness}}","output":"str","x":740,"y":320,"wires":[[]]},{"id":"3112e0d2.170ab","type":"comment","z":"a8c1ffd8.16e1","name":"Raspberry","info":"","x":700,"y":260,"wires":[]},{"id":"9dc653a4.ae4e2","type":"change","z":"acc34840.af99d8","name":"0","rules":[{"p":"payload","t":"set","to":"0","tot":"str","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":240,"wires":[[]]},{"id":"743c7826.444bb8","type":"change","z":"acc34840.af99d8","name":"ON","rules":[{"p":"payload","t":"set","to":"ON","tot":"str","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":360,"wires":[[]]},{"id":"f224f4f.15a9e08","type":"change","z":"acc34840.af99d8","name":"On","rules":[{"p":"payload","t":"set","to":"On","tot":"str","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":400,"wires":[[]]},{"id":"ab72a6d1.27cf68","type":"switch","z":"68815de1.ca2394","name":"","property":"payload","propertyType":"msg","rules":[{"v":"on","vt":"str","t":"eq"},{"v":"true","vt":"str","t":"eq"},{"v":"ON","vt":"str","t":"eq"},{"v":"On","vt":"str","t":"eq"},{"v":"1","vt":"num","t":"eq"},{"v":"off","vt":"str","t":"eq"},{"v":"false","vt":"str","t":"eq"},{"v":"OFF","vt":"str","t":"eq"},{"v":"0","vt":"num","t":"eq"},{"v":"Off","vt":"str","t":"eq"}],"checkall":"false","repair":false,"outputs":10,"x":350,"y":380,"wires":[[],[],[],[],[],[],[],[],[],[]]},{"id":"ebf33a61.e43d68","type":"rbe","z":"3aed527a.e169fe","name":"Change in milliseconds vs last input","func":"deadbandEq","gap":"14400","start":"","inout":"in","property":"timestamp","x":680,"y":300,"wires":[["82f3dd10.3c4e6"]]},{"id":"89b8f6f4.a45168","type":"function","z":"f8f656ed.e6b658","name":"Capitalize","func":"msg.payload = msg.payload.toUpperCase();\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":100,"wires":[[]]},{"id":"82f3dd10.3c4e6","type":"template","z":"3aed527a.e169fe","name":"message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Rain forecast: {{date}} !","output":"str","x":960,"y":300,"wires":[[]]},{"id":"a3d5a333.4407f","type":"change","z":"cc35ed80.8e43c","name":"ON","rules":[{"p":"command","t":"set","to":"ON","tot":"str","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":320,"wires":[[]]},{"id":"11f5ef76.47aac1","type":"change","z":"acc34840.af99d8","name":"off","rules":[{"p":"payload","t":"set","to":"off","tot":"str","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":200,"wires":[[]]},{"id":"5d6f697.78f9798","type":"change","z":"68815de1.ca2394","name":"false","rules":[{"p":"payload","t":"set","to":"false","tot":"bool","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":440,"wires":[[]]},{"id":"4320fffc.f4e25","type":"switch","z":"a8c1ffd8.16e1","name":"","property":"command","propertyType":"msg","rules":[{"v":"COLOR","vt":"str","t":"eq"},{"v":"ON","vt":"str","t":"eq"},{"v":"OFF","vt":"str","t":"eq"},{"v":"BRIGHT","vt":"str","t":"eq"}],"checkall":"true","repair":false,"outputs":4,"x":490,"y":440,"wires":[[],[],[],[]]},{"id":"c5b9f0ad.d9864","type":"function","z":"a8c1ffd8.16e1","name":"set id","func":"msg.id = flow.get(\"id\");\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":280,"wires":[[]]},{"id":"5dd45263.13af3c","type":"function","z":"a8c1ffd8.16e1","name":"store id","func":"if(msg.topic === \"id\"){\n    flow.set(\"id\", msg.payload); \n    // node.warn(\"id saved\");\n    // node.warn(msg);\n}\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":200,"wires":[[]]},{"id":"675d4065.62998","type":"function","z":"68815de1.ca2394","name":"","func":"if(msg.payload === false) return [null,msg,null];\n// node.warn(\"voorbij false\");\nif(msg.payload === true) return [msg,null,null];\nreturn [null,null,msg];\n","outputs":3,"noerr":0,"x":310,"y":220,"wires":[[],[],[]]},{"id":"4047021b.5c8dac","type":"change","z":"acc34840.af99d8","name":"OFF","rules":[{"p":"payload","t":"set","to":"OFF","tot":"str","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":80,"wires":[[]]},{"id":"ff25c535.234288","type":"switch","z":"3aed527a.e169fe","name":"Timesplit","property":"minutes","propertyType":"msg","rules":[{"v":"1","vt":"num","t":"btwn","v2":"30","v2t":"num"},{"v":"30","vt":"num","t":"btwn","v2":"1440","v2t":"num"}],"checkall":"true","repair":false,"outputs":2,"x":720,"y":200,"wires":[["2865c812.537448"],["ebf33a61.e43d68"]],"outputLabels":["0-30",""]},{"id":"e2e5cc54.c5c38","type":"comment","z":"a8c1ffd8.16e1","name":"PC","info":"","x":690,"y":380,"wires":[]},{"id":"b496d066.7bae2","type":"function","z":"1f30ecc.3cf9813","name":"set color","func":"if(msg.color === undefined){\n    msg.color = msg.payload;\n}\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":360,"wires":[[]]},{"id":"e77df78b.ed9e58","type":"function","z":"3aed527a.e169fe","name":"Set NextRainInMinutes","func":"function getRainMinutes(dataPoints, msg, skip) {\n    // node.warn(dataPoints);\n    for(i=skip;i<dataPoints.length;i++){\n    var dataPoint = dataPoints[i];\n    if(dataPoint.precipProbability>lowerProbability){\n        msg.minutes = (dataPoint.time*1000-Date.now())/(60*1000);\n        msg.timestamp = dataPoint.time*1000;\n        msg.payload = dataPoint.time;\n//        node.warn(msg.minutes);\n//        node.warn(i);\n        return msg;\n    }\n    msg.minutes = -1;\n    return msg;\n    }\n}\n\nvar lowerProbability = 0.30;\nmsg = getRainMinutes(msg.data.minutely.data, msg,0);\n// node.warn(\"checking hours\");\nif(msg.minutes === -1){\n    msg = getRainMinutes(msg.data.hourly.data, msg,2);\n}\n\n// formatting\nmsg.minutes = Math.round(msg.minutes);\nvar date = new Date(msg.timestamp);\nvar day = date.getDate();\nvar today =  new Date().getDate(); // Date.now().getDate();\nvar hour = date.getHours();\nif(day == today){\n    msg.date = \"Today around \"+hour +\":00\"\n} else{\n    msg.date = \"Tomorrow around \"+hour +\":00\"\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":500,"y":200,"wires":[["ff25c535.234288"]]},{"id":"2865c812.537448","type":"template","z":"3aed527a.e169fe","name":"message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Rain in {{minutes}} minutes;","output":"str","x":920,"y":200,"wires":[["1b398784.d69528"]]},{"id":"b571e1ee.e4fbc","type":"change","z":"acc34840.af99d8","name":"on","rules":[{"p":"payload","t":"set","to":"on","tot":"str","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":480,"wires":[[]]},{"id":"7456bf90.ca8d1","type":"change","z":"68815de1.ca2394","name":"true","rules":[{"p":"payload","t":"set","to":"true","tot":"bool","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":380,"wires":[[]]},{"id":"3ad5bc7c.222344","type":"switch","z":"acc34840.af99d8","name":"","property":"payload","propertyType":"msg","rules":[{"v":"ON","vt":"str","t":"eq"},{"v":"On","vt":"str","t":"eq"},{"v":"1","vt":"str","t":"eq"},{"v":"true","vt":"str","t":"eq"},{"v":"on","vt":"str","t":"eq"},{"v":"OFF","vt":"str","t":"eq"},{"v":"Off","vt":"str","t":"eq"},{"v":"0","vt":"str","t":"eq"},{"v":"false","vt":"str","t":"eq"},{"v":"off","vt":"str","t":"eq"}],"checkall":"false","repair":false,"outputs":10,"x":210,"y":220,"wires":[["4047021b.5c8dac"],["dc0500f1.e0c65"],["9dc653a4.ae4e2"],["e282c203.9f886"],["11f5ef76.47aac1"],["743c7826.444bb8"],["f224f4f.15a9e08"],["155172dd.afa01d"],["765e1859.8dd7c8"],["b571e1ee.e4fbc"]]},{"id":"93f537d6.5b7388","type":"http request","z":"a8c1ffd8.16e1","name":"","method":"GET","ret":"txt","url":"","tls":"","x":990,"y":380,"wires":[[]]},{"id":"765e1859.8dd7c8","type":"change","z":"acc34840.af99d8","name":"true","rules":[{"p":"payload","t":"set","to":"true","tot":"str","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":440,"wires":[[]]},{"id":"cba6ebde.e30c88","type":"function","z":"8a844107.6e076","name":"","func":"if(msg.payload === false) return [null,msg,null];\n// node.warn(\"voorbij false\");\nif(msg.payload === true) return [msg,null,null];\nreturn [null,null,msg];\n","outputs":3,"noerr":0,"x":410,"y":420,"wires":[[],[],["a93b3c4.0f638c"]]},{"id":"b575e484.506478","type":"debug","z":"3aed527a.e169fe","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":730,"y":100,"wires":[]},{"id":"a93b3c4.0f638c","type":"switch","z":"8a844107.6e076","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"On","vt":"str"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"false","vt":"str"},{"t":"eq","v":"OFF","vt":"str"},{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"Off","vt":"str"}],"checkall":"false","repair":false,"outputs":10,"x":510,"y":580,"wires":[[],[],[],[],[],[],[],[],[],[]]},{"id":"dc0500f1.e0c65","type":"change","z":"acc34840.af99d8","name":"Off","rules":[{"p":"payload","t":"set","to":"Off","tot":"str","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":160,"wires":[[]]},{"id":"553cbc2d.6829a4","type":"change","z":"3aed527a.e169fe","name":"Set temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.currently.temperature","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"outsideTemperature","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":380,"wires":[[]]},{"id":"c0e338b3.3817b8","type":"subflow:78477e05.07c09","z":"f8c3d2e.ff7853","name":"","x":375,"y":1896,"wires":[["86956d44.24ee6","c9f12a1b.be5888"]]},{"id":"86956d44.24ee6","type":"change","z":"f8c3d2e.ff7853","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"null","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":598,"y":1886,"wires":[["3c9c56c6.e27d4a","38d26b7.a551a94"]]},{"id":"914fe766.3de498","type":"comment","z":"f8c3d2e.ff7853","name":"NetAtmo Indoor","info":"","x":120,"y":40,"wires":[]},{"id":"a829e911.8249e8","type":"change","z":"f8c3d2e.ff7853","name":"Set Noise","rules":[{"t":"set","p":"location","pt":"msg","to":"huiskamer","tot":"str"},{"t":"set","p":"name","pt":"msg","to":"basestation","tot":"str"},{"t":"set","p":"devicetype","pt":"msg","to":"noise","tot":"str"},{"t":"set","p":"messagetype","pt":"msg","to":"measurement","tot":"str"},{"t":"set","p":"system","pt":"msg","to":"netatmo","tot":"str"},{"t":"set","p":"value","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"null","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":320,"wires":[["38d26b7.a551a94"]]},{"id":"8e5776c.c2bfa88","type":"link in","z":"f8c3d2e.ff7853","name":"loggingToSql","links":["da83236f.5826c"],"x":715,"y":40,"wires":[["38d26b7.a551a94"]]},{"id":"e273f18e.9ccdc","type":"delay","z":"b01a2cb9.9baef","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"8","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":800,"wires":[["b4fad9fa.a26448"]]},{"id":"9055589a.d88198","type":"comment","z":"b01a2cb9.9baef","name":"Manage Daylight","info":"","x":120,"y":60,"wires":[]},{"id":"38f71943.f69506","type":"inject","z":"b01a2cb9.9baef","name":"Day","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"sunlight","payload":"on","payloadType":"str","x":163,"y":222.00006675720215,"wires":[["a3b67c32.22b87"]]},{"id":"87126ac1.df4088","type":"comment","z":"b01a2cb9.9baef","name":"Debug daylight","info":"","x":134,"y":180.00006675720215,"wires":[]},{"id":"26eb4d03.fc3132","type":"debug","z":"f8c3d2e.ff7853","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1470,"y":240,"wires":[]},{"id":"a7583053.2c006","type":"trigger-state","z":"aa9f90ed.25077","name":"WC on","server":"a0b35919.2f8bf8","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"switch.wc","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"wb47ydrjz1","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":3,"customoutputs":[{"outputId":"9gy899zgbnw","messageType":"default","messageValue":"","comparatorPropertyType":"always","comparatorPropertyValue":"","comparatorType":"is","comparatorValue":""}],"outputinitially":false,"x":112.99999618530273,"y":464.0000343322754,"wires":[["c69c88c6.8f1668"],[],[]]},{"id":"370ef832.7e7108","type":"api-call-service","z":"aa9f90ed.25077","name":"WC off","server":"a0b35919.2f8bf8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.wc","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":450,"y":440,"wires":[[]]},{"id":"e6df15e2.367ad8","type":"trigger-state","z":"aa9f90ed.25077","name":"Badkamer on switch","server":"a0b35919.2f8bf8","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"switch.badkamer","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"0hn5jkvsggw6","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":160.99999618530273,"y":123.99999618530273,"wires":[["1c74cb2a.ad4865"],[]]},{"id":"f5753e8f.06b87","type":"api-call-service","z":"aa9f90ed.25077","name":"Badkamer off","server":"a0b35919.2f8bf8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.badkamer","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":710,"y":100,"wires":[[]]},{"id":"1c74cb2a.ad4865","type":"trigger","z":"aa9f90ed.25077","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"20","extend":true,"units":"min","reset":"","bytopic":"all","outputs":1,"x":490,"y":100,"wires":[["f5753e8f.06b87"]]},{"id":"c69c88c6.8f1668","type":"trigger","z":"aa9f90ed.25077","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"8","extend":true,"units":"min","reset":"","bytopic":"all","outputs":1,"x":290.0115623474121,"y":450.0277862548828,"wires":[["370ef832.7e7108"]]},{"id":"7bd3ff73.e2e81","type":"api-call-service","z":"1f8a59d.c5c0ca6","name":"","server":"a0b35919.2f8bf8","version":1,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"climate.anna","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1257.7840576171875,"y":192.6448516845703,"wires":[["486faee7.13919"]]},{"id":"6538f534.aa9e9c","type":"trigger-state","z":"aa9f90ed.25077","name":"WC movement","server":"a0b35919.2f8bf8","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.zwave_movement_wc","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"4ty3zy8fo1b","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":130.78975296020508,"y":528.5823659896851,"wires":[["1436df89.5db6b"],[]]},{"id":"1436df89.5db6b","type":"api-call-service","z":"aa9f90ed.25077","name":"WC on","server":"a0b35919.2f8bf8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.wc","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":310,"y":520,"wires":[[]]},{"id":"887deeb0.458e7","type":"trigger-state","z":"aa9f90ed.25077","name":"Badkamer movement","server":"a0b35919.2f8bf8","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.zwave_movement_badkamer","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"4ty3zy8fo1b","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":155.01420211791992,"y":179.0056667327881,"wires":[["139523dc.9629dc"],[]]},{"id":"fb483f60.c6f81","type":"bigtimer","z":"b01a2cb9.9baef","outtopic":"sunlight","outpayload1":"on","outpayload2":"off","name":"Sunrise/Sunset","lat":"51.999597","lon":"4.200064","starttime":"5003","endtime":"5004","startoff":0,"endoff":0,"offs":0,"outtext1":"on","outtext2":"off","timeout":"1440","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":136.9354705810547,"y":121.6193733215332,"wires":[["a3b67c32.22b87"],[],[]]},{"id":"a3b67c32.22b87","type":"subflow:8a844107.6e076","z":"b01a2cb9.9baef","name":"","env":[],"x":326.0095024108887,"y":113.46030139923096,"wires":[["5c1b498d.633828"],["886de8a4.ca9fa8"]]},{"id":"5c1b498d.633828","type":"api-call-service","z":"b01a2cb9.9baef","name":"Turn on Daylight","server":"a0b35919.2f8bf8","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.daylight","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":520,"y":80,"wires":[[]]},{"id":"886de8a4.ca9fa8","type":"api-call-service","z":"b01a2cb9.9baef","name":"Turn off Daylight","server":"a0b35919.2f8bf8","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.daylight","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":520,"y":160,"wires":[[]]},{"id":"61c53188.53161","type":"api-current-state","z":"35694a1c.27fc86","name":"If Day","server":"a0b35919.2f8bf8","outputs":1,"halt_if":"off","override_topic":true,"entity_id":"input_boolean.daylight","override_payload":true,"x":201.93558883666992,"y":138.60602569580078,"wires":[[]]},{"id":"c005a6ac.f6ebc8","type":"api-current-state","z":"35694a1c.27fc86","name":"If Night","server":"a0b35919.2f8bf8","outputs":1,"halt_if":"on","override_topic":true,"entity_id":"input_boolean.daylight","override_payload":true,"x":209.00946807861328,"y":239.00566959381104,"wires":[[]]},{"id":"77da8868.b275c8","type":"subflow:35694a1c.27fc86","z":"922b9d9f.0323","name":"","x":421.0094985961914,"y":124.00564098358154,"wires":[[],[]]},{"id":"d76d616e.0a748","type":"trigger-state","z":"922b9d9f.0323","name":"AtHome","server":"a0b35919.2f8bf8","entityid":"input_boolean.at_home","debugenabled":false,"constraints":[{"id":"0fy10bc8pq0n","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":93.0189437866211,"y":116.92027950286865,"wires":[["77da8868.b275c8"],[]]},{"id":"e4a23a59.b77188","type":"comment","z":"922b9d9f.0323","name":"AtHome Changes","info":"","x":100.00946807861328,"y":64.28398895263672,"wires":[]},{"id":"31cb3f03.15a1b","type":"trigger-state","z":"1f8a59d.c5c0ca6","name":"AtHome","server":"a0b35919.2f8bf8","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"group.at_home","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"aqv53zdmg","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"home"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":65,"y":261.7329864501953,"wires":[["b62f38f8.6de848"],[]]},{"id":"b4fad9fa.a26448","type":"api-call-service","z":"b01a2cb9.9baef","name":"Turn on Bed","server":"a0b35919.2f8bf8","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.vincent_in_bed","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":710,"y":800,"wires":[[]]},{"id":"22295877.bc5ee8","type":"api-call-service","z":"b01a2cb9.9baef","name":"Turn off Bed","server":"a0b35919.2f8bf8","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.vincent_in_bed","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":530,"y":860,"wires":[[]]},{"id":"e6c34e3f.78c75","type":"weekday","z":"1f8a59d.c5c0ca6","name":"IsWeekend","sun":true,"mon":false,"tue":false,"wed":false,"thu":false,"fri":false,"sat":true,"x":244.00943756103516,"y":328.00556564331055,"wires":[["47708670.eb01a8"],[]],"outputLabels":["Weeekend","Weekday"]},{"id":"47708670.eb01a8","type":"time-range-switch","z":"1f8a59d.c5c0ca6","name":"IsMorning","lat":"","lon":"","startTime":"06:00","endTime":"12:00","startOffset":0,"endOffset":0,"x":430.0095100402832,"y":333.00558280944824,"wires":[["c742af14.e7f52"],[]],"outputLabels":["Morning","Not Morning"]},{"id":"4571dfe7.99cc9","type":"change","z":"b01a2cb9.9baef","name":"Reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"reset","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":900,"wires":[["e273f18e.9ccdc"]]},{"id":"8767d53e.2a1338","type":"change","z":"1f8a59d.c5c0ca6","name":"set temperature","rules":[{"t":"set","p":"temp","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.data.temperature","pt":"msg","to":"temp","tot":"msg"},{"t":"delete","p":"temp","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":991.0093841552734,"y":192.00566482543945,"wires":[["7bd3ff73.e2e81"]]},{"id":"b62f38f8.6de848","type":"time-range-switch","z":"1f8a59d.c5c0ca6","name":"","lat":"","lon":"","startTime":"21:00","endTime":"06:00","startOffset":0,"endOffset":0,"x":287.93563079833984,"y":261.28779220581055,"wires":[[],["c742af14.e7f52"]]},{"id":"7cf42969.ac41e8","type":"trigger-state","z":"1f8a59d.c5c0ca6","name":"InBed","server":"a0b35919.2f8bf8","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_boolean.vincent_in_bed","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"ekaq0eken8f","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":58.93559265136719,"y":329.4979944229126,"wires":[[],["e6c34e3f.78c75"]]},{"id":"c9f12a1b.be5888","type":"switch","z":"f8c3d2e.ff7853","name":"devicetype","property":"devicetype","propertyType":"msg","rules":[{"t":"eq","v":"power","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":337.78122901916504,"y":2069.323797225952,"wires":[["9eb49bb5.653238"]]},{"id":"871e324.1d0bfd","type":"api-call-service","z":"f8c3d2e.ff7853","name":"Set Power","server":"a0b35919.2f8bf8","version":1,"debugenabled":false,"service_domain":"input_number","service":"set_value","entityId":"input_number.power","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":768.7840347290039,"y":2069.6447982788086,"wires":[["c3dbed2e.e1a7d"]]},{"id":"9eb49bb5.653238","type":"change","z":"f8c3d2e.ff7853","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.data.value","pt":"msg","to":"$number(value)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":552.7897567749023,"y":2069.4005012512207,"wires":[["871e324.1d0bfd"]]},{"id":"c3dbed2e.e1a7d","type":"debug","z":"f8c3d2e.ff7853","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1052.0141830444336,"y":2060.6419563293457,"wires":[]},{"id":"17f7e1ba.4eff3e","type":"trigger-state","z":"922b9d9f.0323","name":"Daylight","server":"a0b35919.2f8bf8","entityid":"input_boolean.daylight","debugenabled":false,"constraints":[{"id":"skm36xljzb8","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":81.01420593261719,"y":227.00565719604492,"wires":[[],["c2ac8826.af6198"]]},{"id":"c2ac8826.af6198","type":"subflow:405d007b.0887d","z":"922b9d9f.0323","name":"","env":[],"x":317.78125762939453,"y":222.80109405517578,"wires":[["77da8868.b275c8"],[]]},{"id":"903732c9.1e0d8","type":"server-events","z":"c255db5.4d13a28","name":"All","server":"a0b35919.2f8bf8","event_type":"ios.notification_action_fired","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":70,"y":40,"wires":[["116f7c56.d9d764"]]},{"id":"116f7c56.d9d764","type":"switch","z":"c255db5.4d13a28","name":"actionname","property":"payload.event.actionName","propertyType":"msg","rules":[{"t":"eq","v":"CANCEL_TEMPERATURE","vt":"str"},{"t":"eq","v":"SOUND_ALARM","vt":"str"},{"t":"eq","v":"SILENCE_ALARM","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":497.00571060180664,"y":40.01409339904785,"wires":[[],[],[]]},{"id":"63dcb6b2.3dcca8","type":"subflow:c255db5.4d13a28","z":"1f8a59d.c5c0ca6","name":"Ios_action_notifications","x":200.0170440673828,"y":77.32805252075195,"wires":[["27df7afb.f56b76"],[],[]]},{"id":"f71d502a.5d97f","type":"subflow:c255db5.4d13a28","z":"c13cf3fe.71f31","name":"","env":[],"x":124.7926254272461,"y":258.78124618530273,"wires":[[],["b2cf0bfa.5f7468"],["c491a8d4.ec2838","2129f8ef.6274c8"]]},{"id":"c6846cdc.fcfa5","type":"trigger","z":"c13cf3fe.71f31","name":"","op1":"Alarm - Intruder","op2":"Alarm - Intruder","op1type":"str","op2type":"str","duration":"-3","extend":false,"units":"s","reset":"","bytopic":"all","outputs":1,"x":591.9354972839355,"y":123.98862648010254,"wires":[["e67175fb.d5cf08"]]},{"id":"b4878ffd.8dac2","type":"delay","z":"c13cf3fe.71f31","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":366.93375396728516,"y":23.19118309020996,"wires":[["de603bce.8409a8","2129f8ef.6274c8"]]},{"id":"de603bce.8409a8","type":"change","z":"c13cf3fe.71f31","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":365.9355888366699,"y":123.0814380645752,"wires":[["c6846cdc.fcfa5"]]},{"id":"e67175fb.d5cf08","type":"subflow:e247e4d8.86ae58","z":"c13cf3fe.71f31","name":"","env":[],"x":790,"y":180,"wires":[]},{"id":"486faee7.13919","type":"change","z":"1f8a59d.c5c0ca6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data.temperature","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Temperature","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1558.1476287841797,"y":192.6079158782959,"wires":[["5c97a454.65936c"]]},{"id":"38f4a345.28b87c","type":"switch","z":"fd7dbe32.1f2d2","name":"if object","property":"payload","propertyType":"msg","rules":[{"t":"istype","v":"object","vt":"object"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":211.0094451904297,"y":187.00568675994873,"wires":[["7f0a835.6b7ec7c"],["1c0c897a.013a57"]]},{"id":"7f0a835.6b7ec7c","type":"json","z":"fd7dbe32.1f2d2","name":"","property":"payload","action":"","pretty":false,"x":383.1552200317383,"y":57.66292095184326,"wires":[["1c0c897a.013a57"]]},{"id":"e9b733c7.07366","type":"mysql","z":"fd7dbe32.1f2d2","mydb":"76eac5e0.de774c","name":"","x":674.2292404174805,"y":100.39210033416748,"wires":[[]]},{"id":"1c0c897a.013a57","type":"template","z":"fd7dbe32.1f2d2","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO log (topic, payload) VALUES ('{{topic}}', '{{payload}}');","output":"str","x":599.1534805297852,"y":290.7499837875366,"wires":[["e9b733c7.07366"]]},{"id":"59b48044.44cd5","type":"inject","z":"b01a2cb9.9baef","name":"Night","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"sunlight","payload":"off","payloadType":"str","x":162.0142059326172,"y":266.55121421813965,"wires":[["a3b67c32.22b87"]]},{"id":"186610b0.fe213f","type":"trigger-state","z":"c13cf3fe.71f31","name":"Frontdoor","server":"a0b35919.2f8bf8","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.door_voordeur","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"wfw8hnlxtz","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":120,"y":640,"wires":[["f564ac4e.1448e"],[]],"outputLabels":["Open","Close"]},{"id":"afc54aa6.137408","type":"change","z":"c13cf3fe.71f31","name":"action: alarm","rules":[{"t":"set","p":"action","pt":"msg","to":"alarm","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Someone in the house","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Alarm","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":540,"wires":[[]]},{"id":"c038a532.1c1418","type":"trigger-state","z":"c13cf3fe.71f31","name":"Alarm","server":"a0b35919.2f8bf8","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_boolean.alarm","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"wfw8hnlxtz","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":132.00947952270508,"y":67.00568008422852,"wires":[["b4878ffd.8dac2","c6846cdc.fcfa5"],["de603bce.8409a8","c491a8d4.ec2838"]],"outputLabels":["On","Off"]},{"id":"2129f8ef.6274c8","type":"api-call-service","z":"c13cf3fe.71f31","name":"Alarm off","server":"a0b35919.2f8bf8","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.alarm","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":609.9355392456055,"y":22.56242561340332,"wires":[[]]},{"id":"b2cf0bfa.5f7468","type":"api-call-service","z":"c13cf3fe.71f31","name":"Alarm on","server":"a0b35919.2f8bf8","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.alarm","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1220,"y":460,"wires":[[]]},{"id":"d56480b6.bfb31","type":"delay","z":"c13cf3fe.71f31","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":980,"y":460,"wires":[["b2cf0bfa.5f7468"]]},{"id":"c491a8d4.ec2838","type":"change","z":"c13cf3fe.71f31","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":407.00951385498047,"y":270.00567626953125,"wires":[["d56480b6.bfb31"]]},{"id":"1dc3a93.fd50e57","type":"trigger-state","z":"c13cf3fe.71f31","name":"Terrasdeur","server":"a0b35919.2f8bf8","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.door_terrasdeur","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"wfw8hnlxtz","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":110,"y":760,"wires":[["1376db61.15b0f5"],[]],"outputLabels":["Open","Close"]},{"id":"499c45ba.34099c","type":"time-range-switch","z":"c13cf3fe.71f31","name":"7-19","lat":"","lon":"","startTime":"07:00","endTime":"19:00","startOffset":0,"endOffset":0,"x":730,"y":640,"wires":[["5129aada.c75a54"],["b04f7269.b2129"]]},{"id":"cda65657.7320a8","type":"weekday","z":"c13cf3fe.71f31","name":"Tuesday","sun":false,"mon":false,"tue":true,"wed":false,"thu":false,"fri":false,"sat":false,"x":540,"y":640,"wires":[["499c45ba.34099c"],["b04f7269.b2129"]],"outputLabels":["Tuesday","Not Tuesday"]},{"id":"24c196fe.8ef9aa","type":"trigger-state","z":"b01a2cb9.9baef","name":"AtHome","server":"a0b35919.2f8bf8","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"group.at_home","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"rarp5c9wip","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"home"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":160,"y":1180,"wires":[["7177ef15.5545f"],["2e8a40a3.f03af","7177ef15.5545f"]]},{"id":"5abf44af.702a4c","type":"trigger-state","z":"b01a2cb9.9baef","name":"InBed","server":"a0b35919.2f8bf8","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_boolean.vincent_in_bed","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"ekaq0eken8f","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":150,"y":1300,"wires":[["71796e51.26c8d"],[]]},{"id":"ae1f9646.0f51b8","type":"comment","z":"b01a2cb9.9baef","name":"Initiate shutdowns on status","info":"","x":160,"y":980,"wires":[]},{"id":"fb5fe19f.4e76f","type":"api-call-service","z":"b01a2cb9.9baef","name":"Shutdown Bedmode","server":"a0b35919.2f8bf8","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.bedtime_trigger","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":600,"y":1300,"wires":[[]]},{"id":"2e8a40a3.f03af","type":"api-call-service","z":"b01a2cb9.9baef","name":"Trigger Shutdown","server":"a0b35919.2f8bf8","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.shutdown_trigger","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":470,"y":1160,"wires":[[]]},{"id":"249fd577.1fe10a","type":"server-state-changed","z":"1f8a59d.c5c0ca6","name":"Bedtime trigger","server":"a0b35919.2f8bf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.bedtime_trigger","entityidfiltertype":"substring","outputinitially":false,"state_type":"habool","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":85,"y":214.00567626953125,"wires":[["27df7afb.f56b76"],[]]},{"id":"71796e51.26c8d","type":"api-current-state","z":"b01a2cb9.9baef","name":"Block If Guests","server":"a0b35919.2f8bf8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"group.guests","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":360,"y":1300,"wires":[[],["fb5fe19f.4e76f"]]},{"id":"2166f805.c39f28","type":"trigger-state","z":"f4f34383.c51b7","name":"Home","server":"a0b35919.2f8bf8","entityid":"zone.home","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":110,"y":1140,"wires":[["4b73e80d.f8e3d8","6a5cde6b.7103"],[]]},{"id":"78bc6579.50d9ac","type":"trigger-state","z":"f4f34383.c51b7","name":"Work","server":"a0b35919.2f8bf8","entityid":"zone.work","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":116,"y":1253.9999780654907,"wires":[["4b73e80d.f8e3d8"],[]]},{"id":"6a5cde6b.7103","type":"subflow:fd7dbe32.1f2d2","z":"f4f34383.c51b7","name":"","x":269.9952850341797,"y":1098.1817626953125,"wires":[]},{"id":"4b73e80d.f8e3d8","type":"subflow:fd7dbe32.1f2d2","z":"f4f34383.c51b7","name":"","x":305.99530029296875,"y":1280.1816594600677,"wires":[]},{"id":"81d32742.763018","type":"comment","z":"f4f34383.c51b7","name":"Zones","info":"","x":89.00000381469727,"y":1043.0907905101776,"wires":[]},{"id":"e66a2806.7505f8","type":"comment","z":"aa9f90ed.25077","name":"Badkamer","info":"","x":80.93180847167969,"y":62.37499475479126,"wires":[]},{"id":"d28a852c.79a418","type":"comment","z":"aa9f90ed.25077","name":"WC","info":"","x":64.00948333740234,"y":397.0057125091553,"wires":[]},{"id":"c8711e2b.91fb2","type":"comment","z":"aa9f90ed.25077","name":"Wasruimte","info":"","x":77.00948333740234,"y":258.55115699768066,"wires":[]},{"id":"638ae36.6bd0c1c","type":"trigger-state","z":"aa9f90ed.25077","name":"Wasruimte sensor","server":"a0b35919.2f8bf8","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.door_wasruimte","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"4ty3zy8fo1b","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":110.00947570800781,"y":321.55115699768066,"wires":[["69142c4b.59d9d4"],["d8a8f87a.1a9888"]]},{"id":"2dcc3fb2.c3e27","type":"trigger-state","z":"922b9d9f.0323","name":"Movement Keuken","server":"a0b35919.2f8bf8","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.movement_keuken","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"e83h6pue4l4","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":170,"y":440,"wires":[["2c3c0907.9dff26"],[]]},{"id":"6f69cf67.550bc","type":"api-call-service","z":"922b9d9f.0323","name":"Barlicht on","server":"a0b35919.2f8bf8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.bar","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":810,"y":620,"wires":[[]]},{"id":"71de6267.85898c","type":"api-call-service","z":"922b9d9f.0323","name":"Barlicht off","server":"a0b35919.2f8bf8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.bar","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1110,"y":460,"wires":[[]]},{"id":"725376da.5755b8","type":"trigger","z":"922b9d9f.0323","name":"","op1":"","op2":"off","op1type":"nul","op2type":"str","duration":"10","extend":true,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":910,"y":540,"wires":[["71de6267.85898c","2e0e8af7.e3f686"]]},{"id":"cbc3c590.d1de18","type":"api-current-state","z":"922b9d9f.0323","name":"If barlicht off","server":"a0b35919.2f8bf8","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.bar","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":530,"y":460,"wires":[["8b9219cc.bb1308"],[]]},{"id":"f09ddb3f.750a98","type":"comment","z":"922b9d9f.0323","name":"Movement Keuken","info":"","x":114,"y":389,"wires":[]},{"id":"9f0dfc0d.a0248","type":"trigger-state","z":"f4f34383.c51b7","name":"Stekker on","server":"a0b35919.2f8bf8","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"switch.neo_coolcam_power_plug_12a_switch","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"h7lngjmcqsg","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":174.9857940673828,"y":1389.6307373046875,"wires":[["6a1a5962.da9138"],[]]},{"id":"44359d30.1af444","type":"api-call-service","z":"f4f34383.c51b7","name":"Stekker off","server":"a0b35919.2f8bf8","version":"1","debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.neo_coolcam_power_plug_12a_switch","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":533.985767364502,"y":1375.6307373046875,"wires":[[]]},{"id":"6a1a5962.da9138","type":"trigger","z":"f4f34383.c51b7","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"15","extend":true,"units":"min","reset":"","bytopic":"all","outputs":1,"x":369.2334747314453,"y":1376.2742552757263,"wires":[["44359d30.1af444"]]},{"id":"8917094e.e89d08","type":"comment","z":"f4f34383.c51b7","name":"Stekker","info":"","x":60.99528121948242,"y":1327.6364135742188,"wires":[]},{"id":"50b8071.a35e8f8","type":"comment","z":"b01a2cb9.9baef","name":"Manage Vincent","info":"","x":120,"y":380,"wires":[]},{"id":"75715936.ccdc98","type":"trigger","z":"aa9f90ed.25077","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"8","extend":true,"units":"min","reset":"","bytopic":"all","outputs":1,"x":390,"y":680,"wires":[["7e2b9eb8.88372"]]},{"id":"bc784c2d.41133","type":"api-call-service","z":"aa9f90ed.25077","name":"Bed Led Blue","server":"a0b35919.2f8bf8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bed","data":"{\"rgb_color\":[0,0,255]}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":860,"y":720,"wires":[[]]},{"id":"6cba774b.f95378","type":"trigger-state","z":"aa9f90ed.25077","name":"Slaapkamer movement","server":"a0b35919.2f8bf8","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.zwave_movement_slaapkamer","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"4ty3zy8fo1b","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":144.0142059326172,"y":735.0056705474854,"wires":[["75715936.ccdc98","1befa793.fc4a08"],[]]},{"id":"5d2d9ab.1b42864","type":"comment","z":"aa9f90ed.25077","name":"Slaapkamer","info":"","x":69.93181228637695,"y":618.3749985694885,"wires":[]},{"id":"a605a0b8.f86cf","type":"api-call-service","z":"aa9f90ed.25077","name":"Keuken Berging off","server":"a0b35919.2f8bf8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.berging","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":430,"y":1000,"wires":[[]]},{"id":"e2bdce9b.8e7c1","type":"trigger-state","z":"aa9f90ed.25077","name":"Berging Keuken","server":"a0b35919.2f8bf8","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.door_berging","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"4ty3zy8fo1b","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":128.78973388671875,"y":922.5823936462402,"wires":[["be91c1f4.9489a"],["a605a0b8.f86cf"]]},{"id":"be91c1f4.9489a","type":"api-call-service","z":"aa9f90ed.25077","name":"Keuken Berging On","server":"a0b35919.2f8bf8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.berging","data":"{\"brightness\":255}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":430.0142478942871,"y":883.005765914917,"wires":[[]]},{"id":"9ad89d8e.4ea11","type":"comment","z":"aa9f90ed.25077","name":"Berging","info":"","x":67.9999885559082,"y":876.0001058578491,"wires":[]},{"id":"d8a8f87a.1a9888","type":"api-call-service","z":"aa9f90ed.25077","name":"Wasruimte off","server":"a0b35919.2f8bf8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.wasruimte","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":460,"y":360,"wires":[[]]},{"id":"69142c4b.59d9d4","type":"api-call-service","z":"aa9f90ed.25077","name":"Wasruimte On","server":"a0b35919.2f8bf8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.wasruimte","data":"{\"color_name\":\"white\",\"brightness\":255}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":460,"y":300,"wires":[[]]},{"id":"f5ebe00a.520d","type":"server-events","z":"88d7a865.0b5458","name":"","server":"a0b35919.2f8bf8","event_type":"deconz_event","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":220,"y":100,"wires":[["bec0fbad.58c908"]]},{"id":"560e6494.e79efc","type":"comment","z":"88d7a865.0b5458","name":"","info":"","x":80,"y":160,"wires":[]},{"id":"66073bd4.b81bb4","type":"switch","z":"88d7a865.0b5458","name":"type selector","property":"type","propertyType":"msg","rules":[{"t":"eq","v":"wake","vt":"str"},{"t":"eq","v":"shake","vt":"str"},{"t":"eq","v":"drop","vt":"str"},{"t":"eq","v":"rotate","vt":"str"},{"t":"eq","v":"push","vt":"str"},{"t":"eq","v":"double tap","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":490,"y":360,"wires":[[],["bdf44ef4.eb8e1","39be1760.08d9c8"],["bdf44ef4.eb8e1"],["72d143f7.0e6a8c","7b61a9fa.082cd8"],["67fb9bbc.992c74","7b61a9fa.082cd8"],["67fb9bbc.992c74","7b61a9fa.082cd8"]],"outputLabels":["Wake","Shake","Drop","Rotate","Push","Tap"]},{"id":"d6ffe7e3.92b468","type":"function","z":"88d7a865.0b5458","name":"","func":"var v = msg.payload;\nmsg.payload = v;\nmsg.from = v % 10;\nmsg.to = Math.floor(v / 1000);\nswitch (v){\n    case 7000:\n        msg.type = \"wake\";\n        break;\n    case 7007:\n        msg.type = \"shake\";\n        break;\n    case 7008:\n        msg.type = \"drop\";        \n        break;\n    default:\n        switch(msg.from){\n            case 0:\n                msg.type = \"push\";\n                break;\n            default:\n                if(msg.from == msg. to){\n                    msg.type = \"double tap\";\n                }else{\n                    msg.type = \"rotate\";\n                }\n        }\n}\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":280,"wires":[["66073bd4.b81bb4","3991368.dcdffca"]]},{"id":"3991368.dcdffca","type":"debug","z":"88d7a865.0b5458","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":450,"y":220,"wires":[]},{"id":"bec0fbad.58c908","type":"change","z":"88d7a865.0b5458","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.event.event","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":180,"wires":[["d6ffe7e3.92b468"]]},{"id":"bdf44ef4.eb8e1","type":"template","z":"88d7a865.0b5458","name":"1 variable tts","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{type}}","output":"str","x":870,"y":180,"wires":[["5c36b9be.977998"]]},{"id":"5c36b9be.977998","type":"subflow:e247e4d8.86ae58","z":"88d7a865.0b5458","name":"","env":[],"x":1070,"y":180,"wires":[]},{"id":"67fb9bbc.992c74","type":"template","z":"88d7a865.0b5458","name":"2 variable tts","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{type}} {{to}}","output":"str","x":870,"y":220,"wires":[["5c36b9be.977998"]]},{"id":"72d143f7.0e6a8c","type":"template","z":"88d7a865.0b5458","name":"3 variable tts","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{type}} {{from}} to {{to}}","output":"str","x":870,"y":260,"wires":[["5c36b9be.977998"]]},{"id":"7b61a9fa.082cd8","type":"switch","z":"88d7a865.0b5458","name":"","property":"to","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":530,"y":620,"wires":[["ca18bb6e.8ccda8"],[],[],[],["bfcd362b.39b288"],[]],"outputLabels":["double red","yellow","blue","green","red","double green"]},{"id":"ca18bb6e.8ccda8","type":"switch","z":"88d7a865.0b5458","name":"type selector","property":"type","propertyType":"msg","rules":[{"t":"eq","v":"rotate","vt":"str"},{"t":"eq","v":"double tap","vt":"str"},{"t":"eq","v":"push","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":770,"y":380,"wires":[["f88d8d8.21f247"],["f88d8d8.21f247"],["e54ee1c0.fd89f"]],"outputLabels":["Rotate","Tap","Push"]},{"id":"f88d8d8.21f247","type":"api-call-service","z":"88d7a865.0b5458","name":"Keuken On","server":"a0b35919.2f8bf8","version":"1","debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":970,"y":360,"wires":[[]]},{"id":"e54ee1c0.fd89f","type":"api-call-service","z":"88d7a865.0b5458","name":"Keuken On","server":"a0b35919.2f8bf8","version":"1","debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":970,"y":400,"wires":[[]]},{"id":"bfcd362b.39b288","type":"switch","z":"88d7a865.0b5458","name":"type selector","property":"type","propertyType":"msg","rules":[{"t":"eq","v":"rotate","vt":"str"},{"t":"eq","v":"double tap","vt":"str"},{"t":"eq","v":"push","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":770,"y":460,"wires":[["94dddb2.0f96c28"],["94dddb2.0f96c28"],["e72130a3.5bdfc"]],"outputLabels":["Rotate","Tap","Push"]},{"id":"94dddb2.0f96c28","type":"api-call-service","z":"88d7a865.0b5458","name":"Bar On","server":"a0b35919.2f8bf8","version":"1","debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":960,"y":440,"wires":[[]]},{"id":"e72130a3.5bdfc","type":"api-call-service","z":"88d7a865.0b5458","name":"Keuken On","server":"a0b35919.2f8bf8","version":"1","debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":970,"y":480,"wires":[[]]},{"id":"7e2b9eb8.88372","type":"api-call-service","z":"aa9f90ed.25077","name":"bed led off","server":"a0b35919.2f8bf8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bed","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":610,"y":680,"wires":[[]]},{"id":"39be1760.08d9c8","type":"api-call-service","z":"88d7a865.0b5458","name":"Shutdown except bedroom","server":"a0b35919.2f8bf8","version":"1","debugenabled":false,"service_domain":"homeassistant","service":"turn_off","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":920,"y":120,"wires":[[]]},{"id":"38d26b7.a551a94","type":"switch","z":"f8c3d2e.ff7853","name":"Filter null","property":"value","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":980,"y":280,"wires":[[],["17991179.5dce5f"]]},{"id":"f04a4e3a.ad0ec","type":"server-state-changed","z":"f8c3d2e.ff7853","name":"","server":"a0b35919.2f8bf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.netatmo_koraal_indoor_co2","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":230,"y":140,"wires":[["f3b67a92.acb3c8"]]},{"id":"75fb7490.24649c","type":"server-state-changed","z":"f8c3d2e.ff7853","name":"","server":"a0b35919.2f8bf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.netatmo_koraal_indoor_temperature","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":260,"y":80,"wires":[["7b8f11ab.b8a3d"]]},{"id":"1e0b9829.947ca8","type":"server-state-changed","z":"f8c3d2e.ff7853","name":"","server":"a0b35919.2f8bf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.netatmo_koraal_indoor_humidity","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":240,"y":200,"wires":[["cd54c06.6a6a14"]]},{"id":"86af1e94.5a211","type":"server-state-changed","z":"f8c3d2e.ff7853","name":"","server":"a0b35919.2f8bf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.netatmo_koraal_indoor_pressure","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":240,"y":260,"wires":[["6a19663c.d8f6b8"]]},{"id":"f67baaa7.ca54d8","type":"change","z":"bfd62bd3.8ae858","name":"Add choice","rules":[{"t":"set","p":"payload.data.data.push","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.data.data.push.category","pt":"msg","to":"action","tot":"msg"},{"t":"delete","p":"payload.service","pt":"msg"},{"t":"delete","p":"payload.domain","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":260,"wires":[["a1bc5219.8dd28","1017f1d6.e7578e"]]},{"id":"5b506956.f72cd8","type":"change","z":"bfd62bd3.8ae858","name":"Push: set topic/payload","rules":[{"t":"set","p":"data","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.data.message","pt":"msg","to":"data","tot":"msg"},{"t":"set","p":"payload.data.title","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":312.9327278137207,"y":263.2613182067871,"wires":[["f67baaa7.ca54d8"]]},{"id":"a1bc5219.8dd28","type":"api-call-service","z":"bfd62bd3.8ae858","name":"","server":"a0b35919.2f8bf8","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_iphone_vincent","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":805.927921295166,"y":260.6249256134033,"wires":[[]]},{"id":"1017f1d6.e7578e","type":"api-call-service","z":"bfd62bd3.8ae858","name":"","server":"a0b35919.2f8bf8","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_vincent_ipad_pro","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":811.9279441833496,"y":308.6249198913574,"wires":[[]]},{"id":"5123ce4c.6bf8c","type":"server-state-changed","z":"f8c3d2e.ff7853","name":"","server":"a0b35919.2f8bf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.netatmo_koraal_indoor_noise","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":230,"y":320,"wires":[["a829e911.8249e8"]]},{"id":"5a57c15.62b224","type":"function","z":"bfd62bd3.8ae858","name":"","func":"var message = env.get(\"message\");\nvar topic = env.get(\"topic\");\nvar action = env.get(\"action\");\n\nif(message === null || message === \"\") {\n    \n}else{\n    msg.payload = message\n}\n\nif(topic === null || topic === \"\") {\n    \n}else{\n    msg.topic = topic\n}\n\nif(action === null || action === \"\") {\n    \n}else{\n    msg.action = action\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":140,"wires":[["5b506956.f72cd8"]]},{"id":"5c97a454.65936c","type":"subflow:bfd62bd3.8ae858","z":"1f8a59d.c5c0ca6","name":"","env":[],"x":1730,"y":260,"wires":[[]]},{"id":"45798529.94f81c","type":"trigger-state","z":"b01a2cb9.9baef","name":"","server":"a0b35919.2f8bf8","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"device_tracker.geofency_loc","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":250,"y":600,"wires":[["613b4fbe.95452","e397baaa.14c508"],[]]},{"id":"613b4fbe.95452","type":"switch","z":"b01a2cb9.9baef","name":"","property":"data.event.new_state.attributes.name","propertyType":"msg","rules":[{"t":"eq","v":"mrp_development","vt":"str"},{"t":"eq","v":"wfc","vt":"str"},{"t":"eq","v":"amsterdam","vt":"str"},{"t":"eq","v":"home","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":740,"y":600,"wires":[["b7655b64.498828"],["b7655b64.498828"],["b7655b64.498828"],["ea50ab90.4f9c18"],[]]},{"id":"1e80c95e.4537b7","type":"api-call-service","z":"b01a2cb9.9baef","name":"Car Off","server":"a0b35919.2f8bf8","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.in_car","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1160,"y":340,"wires":[[]]},{"id":"27fab859.e6eeb8","type":"trigger-state","z":"b01a2cb9.9baef","name":"","server":"a0b35919.2f8bf8","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"device_tracker.beacon_ibeacon_car","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":250,"y":440,"wires":[["676f8128.3fb54","b30e6f00.28fd4"],[]]},{"id":"676f8128.3fb54","type":"switch","z":"b01a2cb9.9baef","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"not_home","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":440,"wires":[["a8e8c145.d8dbe","b30e6f00.28fd4"],["c2986ce4.93d3d","2075f481.b7b15c"]]},{"id":"c2986ce4.93d3d","type":"api-call-service","z":"b01a2cb9.9baef","name":"Car On","server":"a0b35919.2f8bf8","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.in_car","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":760,"y":440,"wires":[[]]},{"id":"e397baaa.14c508","type":"debug","z":"b01a2cb9.9baef","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":520,"wires":[]},{"id":"e7209131.24c18","type":"api-call-service","z":"b01a2cb9.9baef","name":"Work Off","server":"a0b35919.2f8bf8","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.at_work","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1100,"y":560,"wires":[[]]},{"id":"7fd4bb27.79d294","type":"api-call-service","z":"b01a2cb9.9baef","name":"Work On","server":"a0b35919.2f8bf8","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.at_work","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1100,"y":480,"wires":[[]]},{"id":"c7831ebe.3185b","type":"api-call-service","z":"b01a2cb9.9baef","name":"Set AtHome","server":"a0b35919.2f8bf8","version":1,"debugenabled":false,"service_domain":"device_tracker","service":"see","entityId":"","data":"{\"dev_id\":\"vincent\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1090,"y":640,"wires":[[]]},{"id":"ea50ab90.4f9c18","type":"switch","z":"b01a2cb9.9baef","name":"If home","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":910,"y":680,"wires":[["c7831ebe.3185b","63382402.e09c2c"],["7b1c5ac3.6e3b74"]]},{"id":"b7655b64.498828","type":"switch","z":"b01a2cb9.9baef","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"not_home","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":520,"wires":[["e7209131.24c18"],["7fd4bb27.79d294"]]},{"id":"b1ad973f.5ccca8","type":"subflow:bfd62bd3.8ae858","z":"b01a2cb9.9baef","name":"","env":[{"name":"message","value":"Enter","type":"str"},{"name":"topic","value":"Car","type":"str"}],"x":970,"y":440,"wires":[[]]},{"id":"6b2415c5.9442bc","type":"subflow:bfd62bd3.8ae858","z":"b01a2cb9.9baef","name":"","env":[{"name":"message","value":"Enter","type":"str"},{"name":"topic","value":"Work","type":"str"}],"x":1310,"y":480,"wires":[[]]},{"id":"6a636e32.a6572","type":"subflow:bfd62bd3.8ae858","z":"b01a2cb9.9baef","name":"","env":[{"name":"message","value":"Exit","type":"str"},{"name":"topic","value":"Work","type":"str"}],"x":1310,"y":560,"wires":[[]]},{"id":"afd7eb5d.714838","type":"subflow:bfd62bd3.8ae858","z":"b01a2cb9.9baef","name":"","env":[{"name":"message","value":"Enter","type":"str"},{"name":"topic","value":"Home","type":"str"}],"x":1310,"y":640,"wires":[[]]},{"id":"c2706fd.db2109","type":"server-state-changed","z":"f8c3d2e.ff7853","name":"","server":"a0b35919.2f8bf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.lux_keuken","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":180,"y":1200,"wires":[["4ca1892e.cfc2b8","dbbba586.ab9aa"]]},{"id":"dbbba586.ab9aa","type":"change","z":"f8c3d2e.ff7853","name":"Set Luminance","rules":[{"t":"set","p":"location","pt":"msg","to":"keuken","tot":"str"},{"t":"set","p":"name","pt":"msg","to":"PIR","tot":"str"},{"t":"set","p":"devicetype","pt":"msg","to":"Luminance","tot":"str"},{"t":"set","p":"messagetype","pt":"msg","to":"measurement","tot":"str"},{"t":"set","p":"system","pt":"msg","to":"Zigbee","tot":"str"},{"t":"set","p":"value","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"null","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1120,"wires":[["38d26b7.a551a94"]]},{"id":"41065bb6.208fe4","type":"api-call-service","z":"922b9d9f.0323","name":"Barlicht on","server":"a0b35919.2f8bf8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bar","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":770,"y":460,"wires":[[]]},{"id":"8b9219cc.bb1308","type":"delay","z":"922b9d9f.0323","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":660,"y":540,"wires":[["41065bb6.208fe4","6f69cf67.550bc","725376da.5755b8"]]},{"id":"4ca1892e.cfc2b8","type":"debug","z":"f8c3d2e.ff7853","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":530,"y":1180,"wires":[]},{"id":"a8e8c145.d8dbe","type":"delay","z":"b01a2cb9.9baef","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1000,"y":340,"wires":[["1e80c95e.4537b7"]]},{"id":"2075f481.b7b15c","type":"change","z":"b01a2cb9.9baef","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":400,"wires":[["a8e8c145.d8dbe"]]},{"id":"283afe25.1103a2","type":"server-state-changed","z":"aaabbee3.5276e","name":"","server":"a0b35919.2f8bf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.withings_weight_kg_vincent","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":210,"y":360,"wires":[["661c2d1c.1d9f54","6aff2a36.73c174","41ab7803.beee48"]]},{"id":"a70cf05a.f85cd","type":"trigger-state","z":"1f8a59d.c5c0ca6","name":"AtWork","server":"a0b35919.2f8bf8","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_boolean.at_work","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"aqv53zdmg","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"home"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":80,"y":400,"wires":[[],["400fe00f.cff7"]]},{"id":"32d96738.1da8f8","type":"time-range-switch","z":"1f8a59d.c5c0ca6","name":"","lat":"","lon":"","startTime":"16:00","endTime":"19:30","startOffset":0,"endOffset":0,"x":530,"y":400,"wires":[["c742af14.e7f52"],[]]},{"id":"2e0e8af7.e3f686","type":"api-call-service","z":"922b9d9f.0323","name":"Barlicht on","server":"a0b35919.2f8bf8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bar","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1130,"y":620,"wires":[[]]},{"id":"a375faf0.04d8b8","type":"api-call-service","z":"b01a2cb9.9baef","name":"Shutdown group off","server":"a0b35919.2f8bf8","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_off","entityId":"group.shut_down_full","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":450,"y":1040,"wires":[[]]},{"id":"7177ef15.5545f","type":"subflow:fd7dbe32.1f2d2","z":"b01a2cb9.9baef","name":"","env":[],"x":290,"y":1220,"wires":[]},{"id":"95c2afd7.2da01","type":"api-call-service","z":"b01a2cb9.9baef","name":"Bedtime group off","server":"a0b35919.2f8bf8","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_off","entityId":"group.shut_down_except_bedroom","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":450,"y":1100,"wires":[[]]},{"id":"df1f1a52.b1c878","type":"server-state-changed","z":"b01a2cb9.9baef","name":"Bedtime trigger","server":"a0b35919.2f8bf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.bedtime_trigger","entityidfiltertype":"substring","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":160,"y":1120,"wires":[["95c2afd7.2da01"],[]]},{"id":"c44c48a9.057b78","type":"server-state-changed","z":"b01a2cb9.9baef","name":"Shutdown Trigger","server":"a0b35919.2f8bf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.shutdown_trigger","entityidfiltertype":"substring","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":160,"y":1040,"wires":[["a375faf0.04d8b8","f52d901b.d2d3c"],["838bee9d.70ab1"]]},{"id":"e5753f57.822e2","type":"server-state-changed","z":"f8c3d2e.ff7853","name":"","server":"a0b35919.2f8bf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.home_to_work","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":190,"y":1320,"wires":[["fccb20e3.9f4c8","4f6440ac.4f861"]]},{"id":"fccb20e3.9f4c8","type":"debug","z":"f8c3d2e.ff7853","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":670,"y":1380,"wires":[]},{"id":"f7f6c960.ba3708","type":"server-state-changed","z":"f8c3d2e.ff7853","name":"","server":"a0b35919.2f8bf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.work_to_home","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":190,"y":1380,"wires":[["d7a11930.a25018"]]},{"id":"4f6440ac.4f861","type":"change","z":"f8c3d2e.ff7853","name":"Home2Work","rules":[{"t":"set","p":"location","pt":"msg","to":"internet","tot":"str"},{"t":"set","p":"name","pt":"msg","to":"home2work","tot":"str"},{"t":"set","p":"devicetype","pt":"msg","to":"traveltime","tot":"str"},{"t":"set","p":"messagetype","pt":"msg","to":"measurement","tot":"str"},{"t":"set","p":"system","pt":"msg","to":"waze","tot":"str"},{"t":"set","p":"value","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"null","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":1340,"wires":[["38d26b7.a551a94"]]},{"id":"d7a11930.a25018","type":"change","z":"f8c3d2e.ff7853","name":"Work2Home","rules":[{"t":"set","p":"location","pt":"msg","to":"internet","tot":"str"},{"t":"set","p":"name","pt":"msg","to":"work2home","tot":"str"},{"t":"set","p":"devicetype","pt":"msg","to":"traveltime","tot":"str"},{"t":"set","p":"messagetype","pt":"msg","to":"measurement","tot":"str"},{"t":"set","p":"system","pt":"msg","to":"waze","tot":"str"},{"t":"set","p":"value","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"null","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":1400,"wires":[["38d26b7.a551a94"]]},{"id":"4a51cca5.281a24","type":"server-state-changed","z":"f8c3d2e.ff7853","name":"","server":"a0b35919.2f8bf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.popp_co_popp_z_rain_rain_sensor_sensor","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":1120,"y":1540,"wires":[["597a2099.c7452"]]},{"id":"597a2099.c7452","type":"subflow:bfd62bd3.8ae858","z":"f8c3d2e.ff7853","name":"","env":[{"name":"topic","value":"Rain","type":"str"}],"x":1590,"y":1540,"wires":[[]]},{"id":"f99dd7e1.067618","type":"server-state-changed","z":"f8c3d2e.ff7853","name":"Rain rate","server":"a0b35919.2f8bf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"ensor.popp_co_popp_z_rain_rain_sensor_rain_rate","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":120,"y":1700,"wires":[["93d0d2b0.03d81"]]},{"id":"df126c45.3f3a9","type":"server-state-changed","z":"f8c3d2e.ff7853","name":"Rain water","server":"a0b35919.2f8bf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.popp_co_popp_z_rain_rain_sensor_water","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":120,"y":1780,"wires":[["7e83c673.0091f8"]]},{"id":"93d0d2b0.03d81","type":"change","z":"f8c3d2e.ff7853","name":"Regen - flow","rules":[{"t":"set","p":"location","pt":"msg","to":"terras","tot":"str"},{"t":"set","p":"name","pt":"msg","to":"flow","tot":"str"},{"t":"set","p":"devicetype","pt":"msg","to":"mm/h","tot":"str"},{"t":"set","p":"messagetype","pt":"msg","to":"measurement","tot":"str"},{"t":"set","p":"system","pt":"msg","to":"regenmeter","tot":"str"},{"t":"set","p":"value","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"null","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1700,"wires":[["38d26b7.a551a94"]]},{"id":"7e83c673.0091f8","type":"change","z":"f8c3d2e.ff7853","name":"Regen - m3","rules":[{"t":"set","p":"location","pt":"msg","to":"terras","tot":"str"},{"t":"set","p":"name","pt":"msg","to":"water","tot":"str"},{"t":"set","p":"devicetype","pt":"msg","to":"m3","tot":"str"},{"t":"set","p":"messagetype","pt":"msg","to":"measurement","tot":"str"},{"t":"set","p":"system","pt":"msg","to":"regenmeter","tot":"str"},{"t":"set","p":"value","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"null","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1780,"wires":[["38d26b7.a551a94"]]},{"id":"48acc21e.ae87ec","type":"comment","z":"f8c3d2e.ff7853","name":"NetAtmo Slaapkamer","info":"","x":140,"y":380,"wires":[]},{"id":"fcde538d.d098a","type":"server-state-changed","z":"f8c3d2e.ff7853","name":"","server":"a0b35919.2f8bf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.target_temperature","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":200,"y":780,"wires":[["919fed72.c12e7"]]},{"id":"919fed72.c12e7","type":"change","z":"f8c3d2e.ff7853","name":"Target temp - Anna","rules":[{"t":"set","p":"location","pt":"msg","to":"target","tot":"str"},{"t":"set","p":"name","pt":"msg","to":"anna","tot":"str"},{"t":"set","p":"devicetype","pt":"msg","to":"temperature","tot":"str"},{"t":"set","p":"messagetype","pt":"msg","to":"measurement","tot":"str"},{"t":"set","p":"system","pt":"msg","to":"thermostaat","tot":"str"},{"t":"set","p":"value","pt":"msg","to":"data.new_state.state","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"null","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":780,"wires":[["38d26b7.a551a94"]]},{"id":"88c8618e.06b3a","type":"server-state-changed","z":"f8c3d2e.ff7853","name":"","server":"a0b35919.2f8bf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.anna_temperature","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":200,"y":940,"wires":[["fcbbb821.289788"]]},{"id":"fcbbb821.289788","type":"change","z":"f8c3d2e.ff7853","name":"Office temp - Anna","rules":[{"t":"set","p":"location","pt":"msg","to":"office","tot":"str"},{"t":"set","p":"name","pt":"msg","to":"anna","tot":"str"},{"t":"set","p":"devicetype","pt":"msg","to":"temperature","tot":"str"},{"t":"set","p":"messagetype","pt":"msg","to":"measurement","tot":"str"},{"t":"set","p":"system","pt":"msg","to":"thermostaat","tot":"str"},{"t":"set","p":"value","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"null","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":940,"wires":[["38d26b7.a551a94"]]},{"id":"1f93cd33.0610d3","type":"change","z":"f8c3d2e.ff7853","name":"Terras - Anna","rules":[{"t":"set","p":"location","pt":"msg","to":"internet","tot":"str"},{"t":"set","p":"name","pt":"msg","to":"anna","tot":"str"},{"t":"set","p":"devicetype","pt":"msg","to":"temperature","tot":"str"},{"t":"set","p":"messagetype","pt":"msg","to":"measurement","tot":"str"},{"t":"set","p":"system","pt":"msg","to":"thermostaat","tot":"str"},{"t":"set","p":"value","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"null","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":1000,"wires":[["38d26b7.a551a94"]]},{"id":"44c1279f.bee6e8","type":"server-state-changed","z":"f8c3d2e.ff7853","name":"","server":"a0b35919.2f8bf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.dark_sky_temperature","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":210,"y":1000,"wires":[["1f93cd33.0610d3"]]},{"id":"de074127.0fb76","type":"change","z":"f8c3d2e.ff7853","name":"Set Temperature","rules":[{"t":"set","p":"location","pt":"msg","to":"terras","tot":"str"},{"t":"set","p":"name","pt":"msg","to":"basestation","tot":"str"},{"t":"set","p":"devicetype","pt":"msg","to":"temperature","tot":"str"},{"t":"set","p":"messagetype","pt":"msg","to":"measurement","tot":"str"},{"t":"set","p":"system","pt":"msg","to":"netatmo","tot":"str"},{"t":"set","p":"value","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"null","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":660,"wires":[["38d26b7.a551a94"]]},{"id":"3dd9856e.a205fa","type":"change","z":"f8c3d2e.ff7853","name":"Set Humidity","rules":[{"t":"set","p":"location","pt":"msg","to":"terras","tot":"str"},{"t":"set","p":"name","pt":"msg","to":"basestation","tot":"str"},{"t":"set","p":"devicetype","pt":"msg","to":"humidity","tot":"str"},{"t":"set","p":"messagetype","pt":"msg","to":"measurement","tot":"str"},{"t":"set","p":"system","pt":"msg","to":"netatmo","tot":"str"},{"t":"set","p":"value","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"null","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":720,"wires":[["38d26b7.a551a94"]]},{"id":"45353c9a.f16964","type":"server-state-changed","z":"f8c3d2e.ff7853","name":"","server":"a0b35919.2f8bf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.netatmo_koraal_terras_humidity","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":240,"y":720,"wires":[["3dd9856e.a205fa"]]},{"id":"ebe7a736.5ebb18","type":"server-state-changed","z":"f8c3d2e.ff7853","name":"","server":"a0b35919.2f8bf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.netatmo_koraal_terras_temperature","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":250,"y":660,"wires":[["de074127.0fb76"]]},{"id":"de2a3f5b.f1d98","type":"api-current-state","z":"f8c3d2e.ff7853","name":"","server":"a0b35919.2f8bf8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.anna_setpoint","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":400,"y":880,"wires":[["ae238043.0b1428"]]},{"id":"5e8a0c2d.af3824","type":"inject","z":"f8c3d2e.ff7853","name":"","repeat":"900","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":880,"wires":[["de2a3f5b.f1d98"]]},{"id":"ae238043.0b1428","type":"change","z":"f8c3d2e.ff7853","name":"Target temp - Anna","rules":[{"t":"set","p":"location","pt":"msg","to":"target","tot":"str"},{"t":"set","p":"name","pt":"msg","to":"anna","tot":"str"},{"t":"set","p":"devicetype","pt":"msg","to":"temperature","tot":"str"},{"t":"set","p":"messagetype","pt":"msg","to":"measurement","tot":"str"},{"t":"set","p":"system","pt":"msg","to":"thermostaat","tot":"str"},{"t":"set","p":"value","pt":"msg","to":"data.state","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"null","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":880,"wires":[["38d26b7.a551a94"]]},{"id":"4948cac1.c048a4","type":"comment","z":"f8c3d2e.ff7853","name":"NetAtmo Terras","info":"","x":120,"y":620,"wires":[]},{"id":"55968e18.9de7a","type":"server-state-changed","z":"f8c3d2e.ff7853","name":"","server":"a0b35919.2f8bf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.netatmo_koraal_slaapkamer_temperature","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":270,"y":440,"wires":[["3d99ee6c.41c362"]]},{"id":"46e4c840.c00c08","type":"server-state-changed","z":"f8c3d2e.ff7853","name":"","server":"a0b35919.2f8bf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.netatmo_koraal_slaapkamer_co2","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":250,"y":500,"wires":[["20f7e69d.07417a"]]},{"id":"3f5aee59.11e852","type":"server-state-changed","z":"f8c3d2e.ff7853","name":"","server":"a0b35919.2f8bf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.netatmo_koraal_slaapkamer_humidity","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":260,"y":560,"wires":[["50cb9a9b.fa6e04"]]},{"id":"3d99ee6c.41c362","type":"change","z":"f8c3d2e.ff7853","name":"Set Temperature","rules":[{"t":"set","p":"location","pt":"msg","to":"slaapkamer","tot":"str"},{"t":"set","p":"name","pt":"msg","to":"basestation","tot":"str"},{"t":"set","p":"devicetype","pt":"msg","to":"temperature","tot":"str"},{"t":"set","p":"messagetype","pt":"msg","to":"measurement","tot":"str"},{"t":"set","p":"system","pt":"msg","to":"netatmo","tot":"str"},{"t":"set","p":"value","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"null","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":440,"wires":[["38d26b7.a551a94"]]},{"id":"20f7e69d.07417a","type":"change","z":"f8c3d2e.ff7853","name":"Set CO2","rules":[{"t":"set","p":"location","pt":"msg","to":"slaapkamer","tot":"str"},{"t":"set","p":"name","pt":"msg","to":"basestation","tot":"str"},{"t":"set","p":"devicetype","pt":"msg","to":"CO2","tot":"str"},{"t":"set","p":"messagetype","pt":"msg","to":"measurement","tot":"str"},{"t":"set","p":"system","pt":"msg","to":"netatmo","tot":"str"},{"t":"set","p":"value","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"null","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":500,"wires":[["38d26b7.a551a94"]]},{"id":"50cb9a9b.fa6e04","type":"change","z":"f8c3d2e.ff7853","name":"Set Humidity","rules":[{"t":"set","p":"location","pt":"msg","to":"slaapkamer","tot":"str"},{"t":"set","p":"name","pt":"msg","to":"basestation","tot":"str"},{"t":"set","p":"devicetype","pt":"msg","to":"humidity","tot":"str"},{"t":"set","p":"messagetype","pt":"msg","to":"measurement","tot":"str"},{"t":"set","p":"system","pt":"msg","to":"netatmo","tot":"str"},{"t":"set","p":"value","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"null","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":560,"wires":[["38d26b7.a551a94"]]},{"id":"2c3c0907.9dff26","type":"api-current-state","z":"922b9d9f.0323","name":"Keuken Lux < 30","server":"a0b35919.2f8bf8","version":1,"outputs":2,"halt_if":"30","halt_if_type":"num","halt_if_compare":"lt","override_topic":true,"entity_id":"sensor.lux_keuken","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":410,"y":540,"wires":[["cbc3c590.d1de18"],[]]},{"id":"8dc07750.aa5bd8","type":"comment","z":"f8c3d2e.ff7853","name":"Anna Plugwise","info":"","x":120,"y":840,"wires":[]},{"id":"c990680.88be998","type":"server-state-changed","z":"f8c3d2e.ff7853","name":"","server":"a0b35919.2f8bf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.anna_illuminance","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":200,"y":1060,"wires":[["fcee1017.165e2"]]},{"id":"fcee1017.165e2","type":"change","z":"f8c3d2e.ff7853","name":"Luminance - Anna","rules":[{"t":"set","p":"location","pt":"msg","to":"office","tot":"str"},{"t":"set","p":"name","pt":"msg","to":"anna","tot":"str"},{"t":"set","p":"devicetype","pt":"msg","to":"Luminance","tot":"str"},{"t":"set","p":"messagetype","pt":"msg","to":"measurement","tot":"str"},{"t":"set","p":"system","pt":"msg","to":"thermostaat","tot":"str"},{"t":"set","p":"value","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"null","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":1060,"wires":[["38d26b7.a551a94"]]},{"id":"e00395b6.a744a8","type":"server-state-changed","z":"f8c3d2e.ff7853","name":"","server":"a0b35919.2f8bf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.anna_setpoint","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":390,"y":820,"wires":[["8f82450e.41ab28"]]},{"id":"8f82450e.41ab28","type":"change","z":"f8c3d2e.ff7853","name":"Target temp - Anna","rules":[{"t":"set","p":"location","pt":"msg","to":"target","tot":"str"},{"t":"set","p":"name","pt":"msg","to":"anna","tot":"str"},{"t":"set","p":"devicetype","pt":"msg","to":"temperature","tot":"str"},{"t":"set","p":"messagetype","pt":"msg","to":"measurement","tot":"str"},{"t":"set","p":"system","pt":"msg","to":"thermostaat","tot":"str"},{"t":"set","p":"value","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"null","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":820,"wires":[["38d26b7.a551a94"]]},{"id":"3ea1efe1.d7ca5","type":"server-state-changed","z":"f8c3d2e.ff7853","name":"","server":"a0b35919.2f8bf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.teslavvdk_battery_sensor","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":220,"y":1440,"wires":[["55ab516.6d221b","d55e1ea.f3169e"]]},{"id":"6faa3bda.566544","type":"server-state-changed","z":"f8c3d2e.ff7853","name":"","server":"a0b35919.2f8bf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.teslavvdk_online_sensor","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":240,"y":1500,"wires":[["55ab516.6d221b","3a13d301.dd9a2c"]]},{"id":"55ab516.6d221b","type":"debug","z":"f8c3d2e.ff7853","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":650,"y":1500,"wires":[]},{"id":"34c2879d.e25648","type":"comment","z":"f8c3d2e.ff7853","name":"Car","info":"","x":90,"y":1280,"wires":[]},{"id":"d55e1ea.f3169e","type":"change","z":"f8c3d2e.ff7853","name":"Tesla - Battery","rules":[{"t":"set","p":"location","pt":"msg","to":"car","tot":"str"},{"t":"set","p":"name","pt":"msg","to":"tesla","tot":"str"},{"t":"set","p":"devicetype","pt":"msg","to":"battery","tot":"str"},{"t":"set","p":"messagetype","pt":"msg","to":"measurement","tot":"str"},{"t":"set","p":"system","pt":"msg","to":"tesla","tot":"str"},{"t":"set","p":"value","pt":"msg","to":"data.state","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"null","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":1400,"wires":[["38d26b7.a551a94"]]},{"id":"3a13d301.dd9a2c","type":"change","z":"f8c3d2e.ff7853","name":"Tesla - Online","rules":[{"t":"set","p":"location","pt":"msg","to":"car","tot":"str"},{"t":"set","p":"name","pt":"msg","to":"tesla","tot":"str"},{"t":"set","p":"devicetype","pt":"msg","to":"online","tot":"str"},{"t":"set","p":"messagetype","pt":"msg","to":"measurement","tot":"str"},{"t":"set","p":"system","pt":"msg","to":"tesla","tot":"str"},{"t":"set","p":"value","pt":"msg","to":"data.state","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"null","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":1440,"wires":[["38d26b7.a551a94"]]},{"id":"1542abaf.661e84","type":"debug","z":"f4f34383.c51b7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1410,"y":1360,"wires":[]},{"id":"2f934e79.4f31e2","type":"debug","z":"f4f34383.c51b7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":650,"y":840,"wires":[]},{"id":"6a26de8d.d3516","type":"trigger-state","z":"f4f34383.c51b7","name":"","server":"a0b35919.2f8bf8","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.teslavvvdk_latitude","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"num","x":200,"y":860,"wires":[["2f934e79.4f31e2","34bb45f4.9a977a"],[]]},{"id":"34bb45f4.9a977a","type":"api-current-state","z":"f4f34383.c51b7","name":"","server":"a0b35919.2f8bf8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.teslavvdk_location_tracker","state_type":"str","state_location":"location","override_payload":"msg","entity_location":"entity","override_data":"msg","blockInputOverrides":false,"x":690,"y":960,"wires":[["78fa9bf3.0dda64","e32adced.5896f"]]},{"id":"78fa9bf3.0dda64","type":"debug","z":"f4f34383.c51b7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1110,"y":840,"wires":[]},{"id":"e32adced.5896f","type":"change","z":"f4f34383.c51b7","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.ProvisionalName","pt":"msg","to":"entity.state","tot":"msg"},{"t":"set","p":"payload.DateTime","pt":"msg","to":"entity.last_updated","tot":"msg"},{"t":"set","p":"payload.LatLng","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.LatLng.lat","pt":"msg","to":"entity.attributes.latitude","tot":"msg"},{"t":"set","p":"payload.LatLng.lng","pt":"msg","to":"entity.attributes.longitude","tot":"msg"},{"t":"delete","p":"entity","pt":"msg"},{"t":"delete","p":"data","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":1060,"wires":[["2441b62b.7affea","55f7abe6.ae7824","fbde8160.72c4b"]]},{"id":"c362087.3e617f8","type":"debug","z":"f4f34383.c51b7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1330,"y":1060,"wires":[]},{"id":"2441b62b.7affea","type":"json","z":"f4f34383.c51b7","name":"","property":"payload","action":"str","pretty":false,"x":1170,"y":1060,"wires":[["c362087.3e617f8","145aa3e6.9b124c"]]},{"id":"145aa3e6.9b124c","type":"file","z":"f4f34383.c51b7","name":"","filename":"/data/teslapositions.json","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1350,"y":1140,"wires":[[]]},{"id":"55f7abe6.ae7824","type":"http request","z":"f4f34383.c51b7","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.1.100:80/api/Trip/position","tls":"","persist":false,"proxy":"","authType":"","x":1340,"y":1220,"wires":[["c1d4e9a0.808df8","1542abaf.661e84"]]},{"id":"c1d4e9a0.808df8","type":"http response","z":"f4f34383.c51b7","name":"","statusCode":"","headers":{},"x":1360,"y":1300,"wires":[]},{"id":"fbde8160.72c4b","type":"debug","z":"f4f34383.c51b7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1110,"y":1260,"wires":[]},{"id":"250e0a1f.4bb9e6","type":"join","z":"aaabbee3.5276e","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"10","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1270,"y":620,"wires":[["69921601.7e6668"]]},{"id":"4dfa488d.1752f8","type":"server-state-changed","z":"aaabbee3.5276e","name":"","server":"a0b35919.2f8bf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.withings_fat_mass_kg_vincent","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":220,"y":460,"wires":[["a8f98cd.fc2c37"]]},{"id":"df419e11.66856","type":"server-state-changed","z":"aaabbee3.5276e","name":"","server":"a0b35919.2f8bf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.withings_bone_mass_kg_vincent","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":220,"y":540,"wires":[["77fa1bec.695bd4"]]},{"id":"5d8e0db1.21e574","type":"server-state-changed","z":"aaabbee3.5276e","name":"","server":"a0b35919.2f8bf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.withings_muscle_mass_kg_vincent","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":230,"y":620,"wires":[["8ddb595a.f5a308"]]},{"id":"69921601.7e6668","type":"template","z":"aaabbee3.5276e","name":"Insert measurement","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO `personal`.`weight`(`Date`,`Weight (kg)`,`Fat mass (kg)`,`Bone mass (kg)`,`Muscle mass (kg)`,`Hydration (kg)`,`Comments`)VALUES(NOW(),{{weight}},{{fat}},{{bone}},{{muscle}},null,null);","output":"str","x":1460,"y":620,"wires":[["dcb73b7b.ff0278"]]},{"id":"dcb73b7b.ff0278","type":"mysql","z":"aaabbee3.5276e","mydb":"76eac5e0.de774c","name":"TimeSeries","x":1690,"y":620,"wires":[["aec3f4e2.4bdfa8"]]},{"id":"aec3f4e2.4bdfa8","type":"debug","z":"aaabbee3.5276e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1550,"y":220,"wires":[]},{"id":"935a43cd.e332c","type":"change","z":"aaabbee3.5276e","name":"set structure","rules":[{"t":"set","p":"weight","pt":"msg","to":"null","tot":"str"},{"t":"set","p":"fat","pt":"msg","to":"null","tot":"str"},{"t":"set","p":"muscle","pt":"msg","to":"null","tot":"str"},{"t":"set","p":"bone","pt":"msg","to":"null","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":260,"wires":[["250e0a1f.4bb9e6"]]},{"id":"82482cfe.e13df","type":"change","z":"aaabbee3.5276e","name":"","rules":[{"t":"set","p":"weight","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"weight","tot":"str"},{"t":"delete","p":"data","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":360,"wires":[["1b453b2e.158c35","720b9f7f.ed197"]]},{"id":"1b453b2e.158c35","type":"change","z":"aaabbee3.5276e","name":"","rules":[{"t":"delete","p":"data","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":620,"wires":[["263e7c37.b53334"]]},{"id":"a8f98cd.fc2c37","type":"change","z":"aaabbee3.5276e","name":"","rules":[{"t":"set","p":"fat","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"fat","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":460,"wires":[["1b453b2e.158c35"]]},{"id":"77fa1bec.695bd4","type":"change","z":"aaabbee3.5276e","name":"","rules":[{"t":"set","p":"bone","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"bone","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":540,"wires":[["1b453b2e.158c35"]]},{"id":"8ddb595a.f5a308","type":"change","z":"aaabbee3.5276e","name":"","rules":[{"t":"set","p":"muscle","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"muscle","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":620,"wires":[["1b453b2e.158c35"]]},{"id":"263e7c37.b53334","type":"delay","z":"aaabbee3.5276e","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1100,"y":620,"wires":[["250e0a1f.4bb9e6"]]},{"id":"6d64d0a6.77eff","type":"http in","z":"f4f34383.c51b7","name":"Notify","url":"/notify","method":"post","upload":false,"swaggerDoc":"","x":150,"y":600,"wires":[["22a1b0ac.1ef8c","fcea7d99.88141"]]},{"id":"22a1b0ac.1ef8c","type":"http response","z":"f4f34383.c51b7","name":"","statusCode":"","headers":{},"x":460,"y":600,"wires":[]},{"id":"4ea0a202.06d3dc","type":"subflow:bfd62bd3.8ae858","z":"f4f34383.c51b7","name":"","env":[],"x":530,"y":680,"wires":[[]]},{"id":"fcea7d99.88141","type":"change","z":"f4f34383.c51b7","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload.Topic","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.Message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":680,"wires":[["4ea0a202.06d3dc"]]},{"id":"2db0b6e0.9eadfa","type":"http response","z":"aaabbee3.5276e","name":"","statusCode":"","headers":{},"x":1550,"y":120,"wires":[]},{"id":"627d1546.051d9c","type":"http request","z":"aaabbee3.5276e","name":"","method":"GET","ret":"txt","paytoqs":"query","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1370,"y":120,"wires":[["2db0b6e0.9eadfa"]]},{"id":"d61c5e5c.6ffd5","type":"template","z":"aaabbee3.5276e","name":"Insert measurement","field":"url","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"http://koraal.hopto.org/api/util/weight?weight={{payload}}","output":"str","x":1100,"y":120,"wires":[["7d564339.9c773c"]]},{"id":"7d564339.9c773c","type":"change","z":"aaabbee3.5276e","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230,"y":220,"wires":[["627d1546.051d9c"]]},{"id":"7b1c5ac3.6e3b74","type":"debug","z":"b01a2cb9.9baef","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1110,"y":780,"wires":[]},{"id":"63382402.e09c2c","type":"debug","z":"b01a2cb9.9baef","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":930,"y":780,"wires":[]},{"id":"2a286637.79249a","type":"trigger-state","z":"b01a2cb9.9baef","name":"WithingsInBed","server":"a0b35919.2f8bf8","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.withings_in_bed_vincent","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"ekaq0eken8f","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":160,"y":800,"wires":[["e273f18e.9ccdc"],["22295877.bc5ee8","4571dfe7.99cc9"]]},{"id":"f52d901b.d2d3c","type":"debug","z":"b01a2cb9.9baef","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":410,"y":1000,"wires":[]},{"id":"8c768d86.1d8fd","type":"inject","z":"b01a2cb9.9baef","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":460,"y":1240,"wires":[["2e8a40a3.f03af"]]},{"id":"838bee9d.70ab1","type":"debug","z":"b01a2cb9.9baef","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":1000,"wires":[]},{"id":"b30e6f00.28fd4","type":"debug","z":"b01a2cb9.9baef","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":360,"wires":[]},{"id":"f564ac4e.1448e","type":"subflow:405d007b.0887d","z":"c13cf3fe.71f31","name":"","env":[],"x":350,"y":640,"wires":[[],["cda65657.7320a8"]]},{"id":"5129aada.c75a54","type":"subflow:bfd62bd3.8ae858","z":"c13cf3fe.71f31","name":"Frontdoor Open","env":[{"name":"message","value":"Voordeur","type":"str"},{"name":"topic","value":"Open","type":"str"}],"x":940,"y":640,"wires":[[]]},{"id":"1376db61.15b0f5","type":"subflow:405d007b.0887d","z":"c13cf3fe.71f31","name":"","x":350,"y":760,"wires":[[],["94fbc1ad.f058d"]]},{"id":"94fbc1ad.f058d","type":"weekday","z":"c13cf3fe.71f31","name":"Tuesday","sun":false,"mon":false,"tue":true,"wed":false,"thu":false,"fri":false,"sat":false,"x":540,"y":760,"wires":[["1e381334.4c5c1d"],["b04f7269.b2129"]],"outputLabels":["Tuesday","Not Tuesday"]},{"id":"1e381334.4c5c1d","type":"time-range-switch","z":"c13cf3fe.71f31","name":"7-19","lat":"","lon":"","startTime":"07:00","endTime":"19:00","startOffset":0,"endOffset":0,"x":730,"y":760,"wires":[["78664be5.d351e4"],["b04f7269.b2129"]]},{"id":"78664be5.d351e4","type":"subflow:bfd62bd3.8ae858","z":"c13cf3fe.71f31","name":"Frontdoor Open","env":[{"name":"message","value":"Terrasdeur","type":"str"},{"name":"topic","value":"Open","type":"str"}],"x":940,"y":760,"wires":[[]]},{"id":"f388f8c2.03f9a8","type":"inject","z":"c13cf3fe.71f31","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":310,"y":500,"wires":[["f564ac4e.1448e"]]},{"id":"a6246d5f.f8379","type":"api-current-state","z":"405d007b.0887d","name":"Block if not At home","server":"a0b35919.2f8bf8","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"group.at_home","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":300,"y":300,"wires":[[],[]]},{"id":"b04f7269.b2129","type":"subflow:bfd62bd3.8ae858","z":"c13cf3fe.71f31","name":"","env":[{"name":"message","value":"door opened","type":"str"},{"name":"topic","value":"Alarm","type":"str"},{"name":"action","value":"alarm","type":"str"}],"x":770,"y":460,"wires":[["d56480b6.bfb31"]]},{"id":"6ac0674d.1d9238","type":"api-call-service","z":"e247e4d8.86ae58","name":"","server":"a0b35919.2f8bf8","version":1,"debugenabled":false,"service_domain":"tts","service":"google_translate_say","entityId":"all","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":600,"y":180,"wires":[[]]},{"id":"840b2e35.feaa4","type":"change","z":"e247e4d8.86ae58","name":"","rules":[{"t":"set","p":"data","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.data.message","pt":"msg","to":"data","tot":"msg"},{"t":"delete","p":"data","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":336.0000686645508,"y":183.91483211517334,"wires":[["6ac0674d.1d9238"]]},{"id":"eb4d5d86.06398","type":"comment","z":"aaabbee3.5276e","name":"Send weight to KoraalWeb","info":"","x":970,"y":60,"wires":[]},{"id":"139523dc.9629dc","type":"time-range-switch","z":"aa9f90ed.25077","name":"23-6","lat":"","lon":"","startTime":"23:00","endTime":"06:00","startOffset":0,"endOffset":0,"x":410,"y":200,"wires":[["47309a3d.b7aaf4"],["c48ed421.e5fa48"]]},{"id":"c48ed421.e5fa48","type":"api-call-service","z":"aa9f90ed.25077","name":"Badkamer on full","server":"a0b35919.2f8bf8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.badkamer","data":"{\"brightness\":255}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":650,"y":220,"wires":[[]]},{"id":"47309a3d.b7aaf4","type":"api-call-service","z":"aa9f90ed.25077","name":"Badkamer on low","server":"a0b35919.2f8bf8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.badkamer","data":"{\"brightness\":30}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":650,"y":160,"wires":[[]]},{"id":"5afc652.4c0821c","type":"inject","z":"aa9f90ed.25077","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":260,"wires":[["139523dc.9629dc"]]},{"id":"b4b0d1dc.951bb","type":"inject","z":"aa9f90ed.25077","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":410,"y":40,"wires":[["47309a3d.b7aaf4"]]},{"id":"8b063515.00801","type":"inject","z":"aa9f90ed.25077","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":620,"y":40,"wires":[["f5753e8f.06b87"]]},{"id":"720b9f7f.ed197","type":"delay","z":"aaabbee3.5276e","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":960,"y":220,"wires":[["d61c5e5c.6ffd5"]]},{"id":"248ef17.9955a0e","type":"server-state-changed","z":"c2f6d390.7e323","name":"","server":"a0b35919.2f8bf8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.teslavvdk_location_tracker","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":250,"y":140,"wires":[["3fc436cf.67358a","c290cd90.118f2"]]},{"id":"3fc436cf.67358a","type":"debug","z":"c2f6d390.7e323","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":702.0142211914062,"y":80.005615234375,"wires":[]},{"id":"3abef60f.29a33a","type":"subflow:bfd62bd3.8ae858","z":"c2f6d390.7e323","name":"","env":[],"x":690,"y":180,"wires":[[]]},{"id":"c290cd90.118f2","type":"json","z":"c2f6d390.7e323","name":"","property":"data","action":"str","pretty":false,"x":390,"y":360,"wires":[["c26a1a4b.ae2b58"]]},{"id":"44b28979.f4eb28","type":"file","z":"c2f6d390.7e323","name":"","filename":"/data/tesla-locations.json","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":830,"y":400,"wires":[["a360aa4a.e1fac8"]]},{"id":"a360aa4a.e1fac8","type":"debug","z":"c2f6d390.7e323","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1050,"y":340,"wires":[]},{"id":"c26a1a4b.ae2b58","type":"change","z":"c2f6d390.7e323","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":340,"wires":[["44b28979.f4eb28"]]},{"id":"cac660de.32bf6","type":"subflow:bfd62bd3.8ae858","z":"aaabbee3.5276e","name":"Waarschuwing","env":[{"name":"message","value":"Get back on track!!","type":"str"},{"name":"topic","value":"Afvallen","type":"str"}],"x":660,"y":120,"wires":[[]]},{"id":"11367bb.952d084","type":"trigger","z":"aaabbee3.5276e","name":"","op1":"","op2":"","op1type":"nul","op2type":"date","duration":"72","extend":false,"units":"hr","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":410,"y":120,"wires":[["cac660de.32bf6"]]},{"id":"a239a33e.b1b7e","type":"change","z":"aaabbee3.5276e","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":120,"wires":[["11367bb.952d084"]]},{"id":"45928c16.a8c3a4","type":"inject","z":"aaabbee3.5276e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":60,"wires":[["11367bb.952d084"]]},{"id":"400fe00f.cff7","type":"api-current-state","z":"1f8a59d.c5c0ca6","name":"If under 18 inside","server":"a0b35919.2f8bf8","version":1,"outputs":2,"halt_if":"18","halt_if_type":"num","halt_if_compare":"lt","override_topic":false,"entity_id":"sensor.anna_temperature","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":290,"y":400,"wires":[["32d96738.1da8f8"],[]]},{"id":"47fdc45f.d4118c","type":"http in","z":"aaabbee3.5276e","name":"NewWeight","url":"/newweight","method":"post","upload":false,"swaggerDoc":"","x":100,"y":740,"wires":[["1bfff6eb.4bd119","72d9a104.3fa53","16523434.6f236c","6cba84fc.7eff5c"]]},{"id":"1bfff6eb.4bd119","type":"http response","z":"aaabbee3.5276e","name":"","statusCode":"","headers":{},"x":320,"y":740,"wires":[]},{"id":"72d9a104.3fa53","type":"debug","z":"aaabbee3.5276e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":190,"y":860,"wires":[]},{"id":"16523434.6f236c","type":"subflow:bfd62bd3.8ae858","z":"aaabbee3.5276e","name":"","env":[{"name":"topic","value":"IFTTTWeight","type":"str"}],"x":330,"y":800,"wires":[[]]},{"id":"661c2d1c.1d9f54","type":"subflow:fd7dbe32.1f2d2","z":"aaabbee3.5276e","name":"","x":510,"y":220,"wires":[]},{"id":"6cba84fc.7eff5c","type":"subflow:fd7dbe32.1f2d2","z":"aaabbee3.5276e","name":"","env":[],"x":370,"y":880,"wires":[]},{"id":"b8f2b635.7db728","type":"comment","z":"f4f34383.c51b7","name":"","info":"","x":110,"y":560,"wires":[]},{"id":"2f356916.4dc396","type":"api-call-service","z":"aa9f90ed.25077","name":"Bed Led Red","server":"a0b35919.2f8bf8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bed","data":"{\"rgb_color\":[255,0,0]}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":810,"y":900,"wires":[[]]},{"id":"8a40f6c5.5b05b8","type":"time-range-switch","z":"aa9f90ed.25077","name":"Evening","lat":"","lon":"","startTime":"sunset","endTime":"00:00","startOffset":"-1","endOffset":0,"x":540,"y":740,"wires":[["bc784c2d.41133"],["7131cdce.35d044"]]},{"id":"7131cdce.35d044","type":"time-range-switch","z":"aa9f90ed.25077","name":"Morning","lat":"","lon":"","startTime":"06:00","endTime":"09:00","startOffset":"","endOffset":0,"x":600,"y":800,"wires":[["eb1ba23c.9d281"],["2f356916.4dc396"]]},{"id":"eb1ba23c.9d281","type":"api-call-service","z":"aa9f90ed.25077","name":"Bed Led Green","server":"a0b35919.2f8bf8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bed","data":"{\"rgb_color\":[0,255,0]}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":820,"y":800,"wires":[[]]},{"id":"1befa793.fc4a08","type":"time-range-switch","z":"aa9f90ed.25077","name":"Dark","lat":"","lon":"","startTime":"sunset","endTime":"sunrise","startOffset":"-1","endOffset":"2","x":350,"y":800,"wires":[["8a40f6c5.5b05b8"],[]]},{"id":"6aff2a36.73c174","type":"deduplicate","z":"aaabbee3.5276e","name":"","keyproperty":"","expirypolicy":"keep","registryclass":"","noderole":"standalone","expiry":"5","x":550,"y":360,"wires":[["82482cfe.e13df","935a43cd.e332c","a239a33e.b1b7e"],["570026ea.65e098"]]},{"id":"570026ea.65e098","type":"subflow:bfd62bd3.8ae858","z":"aaabbee3.5276e","name":"","env":[{"name":"message","value":"Weight","type":"str"},{"name":"topic","value":"Duplication detected","type":"str"}],"x":750,"y":420,"wires":[[]]},{"id":"41ab7803.beee48","type":"debug","z":"aaabbee3.5276e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":270,"y":260,"wires":[]}]